.add-button-auto-response
  .add-btn-error
    border-color: #DB1B1B !important
    button
      color: #DB1B1B !important
  .add-error
    margin-top: 5px
    text-align: left
    p
      margin-bottom: 0
      color: #DB1B1B
  .container-add-button
    color: black
    &:nth-child(3)
      .av-valid
        .btned
          border-radius: 0px 0px 30px 30px
  .btned
    width: 100%
    box-shadow: unset
    border: 1px solid #556CE7
    color: #556CE7
    border-radius: unset
    margin: 1px 0
    &:hover
      border-color: #92CD59
      color: #92CD59
  .add-btn
    padding: 1.1rem
    border-radius: 0px 0px 30px 30px
    border: 1px dashed #CACACA
    button
      color: #3F51B5
      font-size: 0.9rem
      font-weight: 500
      box-shadow: unset
      
.box-modal-button
  right: -270px
  left: unset
  top: -50%
  width: 260px
  padding: 0
  box-shadow: 0px 0px 5px #EEEEEE
  h3
    border-radius: unset !important
    font-size: 1rem !important
    padding: 0.5rem !important
    background-color: #F1F1F1
  .container
    margin-bottom: 1rem !important
    padding: 0px 0.5rem !important
    .form-group
      display: unset !important
      label
        margin-bottom: 5px
        margin-top: 1.2rem
  .gsButton
    padding: 0.5rem
    display: flex
    justify-content: space-between
      