/****** Color ******/
$color-frm-label: #939393
$color-background: #F2F2F2
$color-header: #3F51B5
$color-header-light: #556CE7


/****** Font ******/
$font-size-frm-label: 0.8rem
$font-size-title: 1rem


$step1-color: #556CE7
$step1-color-hover: #5a75ff
$step2-color: #FF8D00
$step2-color-hover: #ffaf00
$step2-color: #90CE51
$step2-color-hover: #a6eb5a