.shopeeSettings
  .shopee-description
    line-height: 30px
  .settingsShopeeForm
    .settingsShopeeRadio
      .custom-control
        .custom-control-label
          font-size: 15px
  .shopee-notification
    align-items: center
    .bg-white
      background: white
      padding-top: 1rem
      padding-bottom: 1rem
      .center-description
        align-items: center
        justify-content: space-between
        .uik-checkbox__wrapper
          margin: 0