

.all-revenue-wrapper
  .gs-widget
    border: none
    .revenue-icon
      i
        width: 3em
        height: 3em
        display: block
        background-repeat: no-repeat
        background-position: center
        margin-right: 5px
        background-color: #DDE2FF
        border-radius: 50%

        &.icon-sale-channel
          background-image: url(/assets/images/sale_channel.png)

        &.icon-branch
          background-image: url(/assets/images/branch.png)

        &.icon-platform
          background-image: url(/assets/images/platform.png)
    .revenue-detail
      margin-top: 10px
      display: flex
      font-size: 1.5em
      font-weight: bold
      .number
        color: #1665d8
