.toggleSync.modal-dialog
  .uik-checkbox__label:before
    width: 22px !important
    height: 22px !important
  .uik-checkbox__checkboxIcon
    height: 12px !important
    width: 14px !important
  .actionSelectSync
    background-color: #efefef
    padding: 20px 10px
    margin-top: 10px
    .checkbox
      font-size: 14px
    .color__gray
      .uik-checkbox__label:before
        background-color: #b5b5b5 !important
        border-color: #b5b5b5 !important
    .uik-checkbox__label:before
      width: 20px !important
      height: 20px !important
    .uik-checkbox__checkboxIcon
      height: 10px !important
      width: 12px !important
    .checkbox:nth-child(1)
      margin-bottom: 10px
    .checkbox:nth-child(2)
      margin-bottom: 10px

  .modal-content
    .modal-body
      font-weight: 600
      .sync-notice
        border-bottom: #0D1013 1px solid
        font-size: 13px
      .description-notice
        font-size: 13px
        font-weight: unset
        font-style: italic
        font-weight: 500
    .notice
      .modal-title
        color: #dc3545!important
    .modal-header
      .modal-title
        font-size: 23px
        color: #7cc834
      button
        display: none

.create-gsproduct-checkbox
  .uik-checkbox__wrapper
    .uik-checkbox__label
      align-items: flex-end
