.active-branch-modal
  .shopee__description
    font-weight: 500
    font-size: 1rem
  .shopee__body
    text-align: left
    width: 450px
    height: 210px
    background: #f9f9f9
    overflow-y: scroll
    &::-webkit-scrollbar-track
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
      background-color: #F5F5F5
    &::-webkit-scrollbar
      width: 5px
      background-color: #F5F5F5
    &::-webkit-scrollbar-thumb
      background-color: #000000
      border: 2px solid #555555
    .form-group
      margin-bottom: 0
      .form-control
        background-color: #f9f9f9
        .custom-control
          margin: 15px!important

.create-gsproduct-checkbox
  .uik-checkbox__wrapper
    .uik-checkbox__label
      align-items: flex-end
