.empty-commision
  height: 500px
  margin: auto
  display: flex
  justify-content: center
  align-items: center
  .img-empty
    display: block
    margin: auto
    padding-bottom: 10px
.affiliate-commission__table
  overflow-x: auto
.commission-header
  //.gs-atm__flex-row--flex-start
  //  justify-content: space-between

.delete-commission
  .modal-header
    background: #80808024!important
    .modal-title
      color: red
  .gs-button__green
    background: none
    border: 1px solid red
    &:hover
      background: red
      div
        color: white
    div
      color: red

