.google-shopping
    .preference-header
        .gs-atm__flex-row--flex-start
    .preference-content-title-wrapper
        display: flex
        display: -webkit-flex
    .preference-content-title-wrapper, .preference-content-action
        justify-content: space-between
    .preference-content-body
        .preference-content-title
            display: flex
            display: -webkit-flex
            justify-content: space-between
            padding: 15px 30px
            border-bottom: .05em solid #dedede
            h3,label
                margin-bottom: 0

            .title-with-button
                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center

        .title-customize
            flex-direction: column

        .preference-content-detail
            &.invisible
                display: none
            .field__wrapper
                display: flex
                display: flex
                flex-direction: column-reverse
                -webkit-flex-direction: column-reverse
            .counter__wrapper
                position: relative
                top: unset
                text-align: right

        .preference-content-footer
            display: flex
            display: -webkit-flex
            justify-content: flex-end
            padding: 15px 30px

@media screen and ( max-width: 780px ) 
    .google-shopping
        .preference-content-title-wrapper, .preference-content-action
            justify-content: flex-start
            flex-wrap: wrap
            flex-direction: column
        .preference-content-body
            .preference-content-title
                justify-content: flex-start
                flex-wrap: wrap
                flex-direction: column
                >button
                    max-width: max-content
                    margin: 10px 0px !important


    