@import "../../../../../sass/mixins"

.modal-dialog.imei-serial-modal
  min-width: 60%
  max-width: 80%
  position: relative

  .error-toast
    position: absolute
    color: #EC092F
    font-size: 12px
    padding: 5px 15px
    background-color: #FFEEF1
    border-radius: 3px
    border: 1px solid #EC092F
    left: 50%
    transform: translateX(-50%)
    width: fit-content
    top: 35px
    z-index: 2
    display: none

  p
    margin: 0

  .modal-content
    width: 100%

    .modal-header
      padding: 0
      background-color: #F8F8F8
      padding-top: 10px

      .modal-title
        p
          margin: 0
          color: black
          font-size: 18px
          font-weight: 500
          text-align: initial
          margin-left: 15px
          padding-bottom: 10px

      button
        span
          font-size: 29px
          padding: 10px

    .modal-body
      text-align: left

      .branch
        display: flex
        align-items: center
        margin-bottom: 30px

        h3
          color: #9EA0A5
          font-size: 15px
          font-weight: normal
          margin: 0 50px 0 0
          white-space: nowrap

          @include mobile
            margin: 0 15px 0 0

        .gs-dropdown-multiple-select
          width: 100% !important

          .gs-dropdown-multiple-select__drop-header
            width: 100% !important
            max-width: 300px

          .uik-menuDrop__list
            max-height: 250px

            .gs-dropdown-multiple-select__opt-label
              white-space: pre-wrap
              overflow: hidden
              text-overflow: ellipsis
              -webkit-line-clamp: 2
              -webkit-box-orient: vertical
              display: -webkit-box

      .table
        border: 1px solid #DDE0E9
        margin: 0

        &.left
          flex-basis: 30%
          flex-grow: 1

        &.right
          overflow: auto
          border-left: 0

        &::-webkit-scrollbar-track
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)

        &::-webkit-scrollbar
          width: 5px
          height: 8px

        &::-webkit-scrollbar-thumb
          background-color: #C4C4C4

        table
          width: 100%

          thead
            background-color: #F6F6F6

            th
              font-size: 15px
              border-color: transparent
              font-weight: 500
              text-transform: uppercase
              white-space: nowrap

          tbody
            .no-branch
              color: #EC092F
              padding: 50px 0
              font-size: 13px
              text-align: center

            form:not(.in-purchase)
              border: 1px solid #DDE0E9

            .input-code
              padding: 8px
              background-color: #EFEFEF
              border: 1px solid #DDE0E9
              border-radius: 2px 2px 0px 0px
              user-select: none
              -moz-user-select: none
              -webkit-user-select: none
              -ms-user-select: none

              .form-group
                margin: 0

                input
                  font-size: 12px

                  @media (min-width: 935px)
                    min-width: 538px

            .code
              max-height: 260px
              overflow: auto
              display: flex
              flex-direction: column

              &:not(.in-purchase)
                padding: 0 10px

              &::-webkit-scrollbar-track
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)

              &::-webkit-scrollbar
                width: 5px
                height: 5px

              &::-webkit-scrollbar-thumb
                background-color: #C4C4C4

              .content
                display: flex
                background-color: #1E69D5
                border-radius: 3px
                color: #FFFFFF
                margin-top: 13px
                align-items: center
                padding: 8px 5px
                width: fit-content
                user-select: none
                -moz-user-select: none
                -webkit-user-select: none
                -ms-user-select: none

                &:last-child
                  margin-bottom: 13px

                p
                  font-size: 12px

                i
                  font-size: 10px
                  margin-left: 15px
                  cursor: pointer

                  &:hover
                    opacity: 0.7

      .mobile-view
        display: none

      @include mobile
        .desktop-view
          display: none
        .mobile-view
          display: flex

          td
            flex-grow: 1
            padding-left: 0
            padding-right: 0
            border: 0
