.gs-dropdown-combo
  .action
    border-top-right-radius: 0px
    border-bottom-right-radius: 0px

  .icon
    padding: 0 .5em
    min-width: 0
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px
    border-left: 1px solid #FFFFFF

  &.disabled
    opacity: .5
    pointer-events: none