/*!
 / Copyright 2017 (C) Mediastep Software Inc.
 /
 / Created on : 9/5/2019
 / Author: Dai Mai <email: dai.mai@mediastep.com>
 /

.ready-to-ship-confirm-lazada

  .ready-to-ship-confirm__btn-wrapper
    display: flex
    flex-direction: row
    justify-content: center

  .ready-to-ship-confirm__message
    text-align: center
