.gs-action-button
  background-repeat: no-repeat
  width: 20px
  height: 20px
  display: inline-block
  cursor: pointer
  background-size: contain
  background-position: center

  &:hover
    opacity: 0.7
