.ready-to-ship-confirm

  .ready-to-ship-confirm__btn-wrapper
    display: flex
    flex-direction: row
    justify-content: center

  .ready-to-ship-confirm__message
    text-align: center
    margin-bottom: 2em

  .ready-to-ship-confirm__deposit
    background-color: #FFF2F1
    color: #FF4F4C
    display: flex
    align-items: center
    margin: 0 -1rem 1rem -1rem
    padding: .3rem 0
    text-align: left
    border-top: 1px solid #EAEDF3
    img
      padding: 0 1rem 0 1.2rem

      
.modal-dialog.confirm-order-failed
  .modal-header
    background-color: #F8F8F8 !important
    padding: 6px 0 !important
    .modal-title
      font-size: 18px
      color: black
  .modal-body
    padding: 15px 13px !important
    text-align: unset !important
    h3
      font-size: 14px
      font-weight: 500
      width: 100%
      text-align: center
      color: #EC092F
      margin-bottom: 15px
    h4
      font-size: 13px
      color: #1E69D5
      text-decoration: underline
      width: 100%
      text-align: center
    p
      background: #F4F4F4
      padding: 11px 10px
      font-size: 12px
      white-space: pre-wrap
      position: relative
      overflow: auto
      max-width: 600px
      &::-webkit-scrollbar
        height: 3px
      &::-webkit-scrollbar-thumb
        background: grey
      &:hover
        .copy
          display: block
      .copy
        position: absolute
        top: -23px
        right: 0
        display: none
        padding: 3px 10px
        background-color: black
        color: #FFFFFF
  .modal-footer
    button
      background: #EC092F !important
    button:first-child
      display: none !important
.ready-to-ship-confirm__message_ghtk
      text-align: left
      font-weight: bold
      margin-top: 1em
.custom-filter *
      width: 100%
