.customer-editor-activity-group



  .customer-editor-activity-group__header
    display: flex
    align-items: center
    margin-bottom: .5rem

    .customer-editor-activity-group__header-tag
      background-color: #DDE5E8
      padding: .2rem 1rem
      color: #939393
      font-weight: bold
      border-radius: .3rem
      font-size: .8rem

      &--today
        background-color: #5570E2
        color: white

    hr
      flex: 1


  .customer-editor-activity-group__item-container
    padding: 0 1rem
