.shopee-edit-product-attr-selector

  .shopee-edit-product-attr-selector__select-container
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: 1rem

  .form-group
    margin-bottom: 0 !important

    input
      height: 38px
      font-size: 14px
      //color: hsl(0,0%,50%)