@import "../../../../../sass/gsvariables"

.counter__wrapper
  position: absolute
  font-weight: bold
  color: #b5b5b5
  font-size: 0.8em
  padding: 2px
  border-radius: 2px
  background-color: white

  &--top-right
    right: 1em
    top: 0.7em

  &--bottom-right
    right: 1em
    bottom: 0.6em


.field__wrapper
  position: relative

  &--disable
    opacity: 0.5
    pointer-events: none
