.fb-chat-order
  .facebook-info-order
    padding: 0 0.7rem
    margin-bottom: 7px
    max-height: 72vh
    overflow-y: auto
    &::-webkit-scrollbar
      width: 3px
      margin-left: -30px
    &::-webkit-scrollbar-thumb
      background: #4051B6
    .facebook-info-order-content
      border-bottom: 1px solid #DDE0E9
      margin-bottom: 5px
      padding-bottom: 5px
    .id-time
      display: flex
      flex-direction: column
      p
        color: #208EED
        &:hover
          text-decoration: underline
    .total-status
      display: flex
      flex-direction: column
      align-items: flex-end
      .gs-status-tag
        background-color: transparent
        padding: 0
        justify-content: flex-end
    p
      font-weight: 500
      font-size: 13px
      margin: 0
      padding-bottom: 5px
    span
      font-weight: 500
      font-size: 10px
      color: #979797
  .page-header
    padding: 0.5em 0
    background: #F5F5F5
    img
      margin-right: 0.5em
    .section-title
      font-weight: 500
      font-size: 1rem
      color: #000000
  
  