.store-front-info
  display: flex
  align-items: center


  .store-icon
    background-color: rgba(255, 255, 255, 0.1)
    border-radius: 4px
    padding: .5em
    img
      width: 2.2em
      height: 2.2em
      border-radius: .25em

  .store-detail
    display: flex
    flex-direction: column
    margin-left: .5em


    .store-detail__name
      color: white
      font-weight: bold

    .store-detail__url
      a
        color: #FFFFFF
        opacity: .5
        font-weight: bold
