@import "../../../../sass/mixins"
.product-translate.modal-dialog
  max-width: 70vw
  @include mobile
    max-width: none
    margin: auto

  .modal-content
    width: 60vw
    @include mobile
      width: 90vw

    .modal-footer
      justify-content: flex-end
      padding-right: 25px
      padding-top: 10px !important
    .modal-body
      text-align: left
      height: 80vh
      overflow: auto
      .product-translate__titleBody
        padding: 10px 10px
        background-color: #f1f3f4
        margin-bottom: 10px
        h3
          font-size: 1rem
          margin: 0
      .form-group
        label
          float: left
    .modal-header
      background-color: #f1f3f4
      padding-bottom: 0.5rem !important
      padding-top: 0.5rem !important
      .close
        outline: none
        span
          font-size: 35px
    .product-translate__titleHeader
      display: flex
      justify-content: space-between
      align-items: center
      p
        margin: 0
        color: #1d1d1d

