/*!
 / *******************************************************************************
 /  * Copyright 2017 (C) MediaStep Software Inc.
 /  *
 /  * Created on : 21/02/2022
 /  * Author: Minh Tran <minh.tran@mediastep.com>
 /  *******************************************************************************
 /

.confirmation-payment-modal
  .payment-history-date
    p
      font-weight: bold
      font-size: .75rem
      color: black
      line-height: 1.125rem
      text-transform: uppercase
      float: left
      margin-bottom: 7px

    div
      width: 100%
      margin-bottom: 1rem

  .modal-content
    min-width: 400px

    .modal-header
      background-color: #f0f0f0
      margin-bottom: 10px

      .modal-title
        display: flex
        color: black
        font-size: 17px
        padding-bottom: 10px

    .modal-body
      text-align: left

      .uik-select__wrapper
        width: 100%
        margin-bottom: 1rem

        .uik-content-title__wrapper
          font-weight: bold

        span
          display: flex
          color: black

      .ps-wrapper
        background: #FFF2DB
        border: 1px solid #FBAD29
        border-radius: 3px
        padding: 11px 8px

        span
          font-style: italic
          font-size: 13px
          font-weight: 500

    .modal-footer
      display: flex
      justify-content: flex-end
      border-top: 1px solid #EAEDF3 !important
      padding-top: 10px !important

    .form-group
      label
        display: flex
        font-size: 12px
        color: black
