/*!
 / Copyright 2017 (C) Mediastep Software Inc.
 /
 / Created on : 21/4/2019
 / Author: Dai Mai <email: dai.mai@mediastep.com>
 /

.gs-breakcrum
  display: flex
  flex: 1
  height: 38px
  line-height: 38px
  font-weight: bold
  font-size: 16px
  white-space: pre
  a
    color: #0D1013
  a:hover
    text-decoration-line: none
