.theme-theme-making
  .theme-making-table
    width: 100%

    .theme-making-table-head
      height: 70px

      .logo-head-color
        background-color: #5267df

      .page-head-color
        background-color: #4659c5

      .platform-head-color
        background-color: #3f51b5

      .logo-setting-bar
        width: 70px

      .page-and-setting
        width: 300px

    .theme-making-table-body
      .setting-bar-body
        background-color: #f0eded

      .page-content-body
        background-color: white

      .theme-editor-body
        background-color: white


