.upload-image__item
    .image-preview
        img
            border: 1px solid #dedede

    .image-upload
        display: flex
        align-items: center
        margin-top: 5px
        .image-upload__button

            i
                background-repeat: no-repeat
                width: 6px
                height: 10px
                display: block
                cursor: pointer
                background-image: url(/assets/images/icon-upload.svg)

                &:hover
                    opacity: 0.7
            
            .button-upload
                min-width: 137px

    .image-upload__name
        margin-top: 20px
        position: relative
        padding-right: 20px
        word-break: break-all

        i
            position: absolute
            top: 1px
            right: 1px

            &.close-icon
                background-repeat: no-repeat
                width: 10px
                height: 10px
                display: block
                cursor: pointer
                background-image: url(/assets/images/icon-closepop-up.png)
                background-size: cover
                &:hover
                    opacity: 0.7

    .upload-image__item-error
        text-align: left

    .image-view
        .photo
            &--o9n-6
            transform: rotate(90deg)

            &--o9n-3
            transform: rotate(180deg)

            &--o9n-8
            transform: rotate(90deg)

            &--o9n-2
            transform: rotateY(180deg)

            &--o9n-5
            transform: rotate(90deg)
            transform: rotateY(180deg)

            &--o9n-7
            transform: rotate(90deg)
            transform: rotateY(180deg)

            &--o9n-3
            transform: rotate(180deg)
            transform: rotateY(180deg)










    

