.sale-channel-tag

  .brand
    color: white
    padding: 3px 5px
    border-radius: 2px
    display: flex
    align-items: center

    img
      margin-right: 5px

    &--shopee
      background-color: #ff5500


    &--lazada
      background-color: #254a5e

    &--beecow
      background-color: #ffb000

    &--gosell
      background-color: #556CE7

    &--gomua
      background-color: #1f1f57
