.flash-sale-campaign-management

  .table
    min-width: 870px

    th
      color: #000000 !important

  .actions
    align-self: flex-end
    display: flex

    button
      width: 240px

  &__widget
    height: calc(100% - 1.5em)