.fb-emoji-selector

  .fb-emoji-selector__emoji-group
    display: flex
    flex-wrap: wrap
    overflow-y: auto
    height: 200px

  .fb-emoji-selector__emoji
    font-size: 1.8rem
    padding: .1em
    cursor: pointer

    &:hover
      background-color: #c6c6c6
      border-radius: 5px

  .fb-emoji-selector__emoji-group-selector
    width: 100%
    display: flex
    margin-top: 1rem
    justify-content: space-around

  .fb-emoji-selector__emoji-group-icon
    font-size: 1.2rem
    padding: .1em
    cursor: pointer

    &--active
      background-color: #126df1
      border-radius: 5px
