.swagger-ui .info hgroup.main a 
    display: none

.swagger-ui button .btn .try-out__btn
    pointer-events: none
    cursor: none
    background: lightgrey
    color: whitesmoke
    border-color: lightgray