.customer-list-barcode-printer
  width: 600px !important

  .modal-body
    height: 70vh

  .paging-table__pagination
    margin-bottom: 0

  .modal-title
    display: flex
    justify-content: space-between
    align-items: center

  .uik-checkbox__wrapper
    margin-bottom: 0 !important
    margin-left: .25rem

  &__search-wrapper
    padding: 0.5rem .5rem
    background-color: #eaeaea
    margin: 0 -1rem

  &__customer-list
    max-height: 50vh
    overflow-y: auto
    margin: 0 -1rem 1rem -1rem
    animation-name: slide-right-2
    animation-duration: .3s
    animation-timing-function: ease-in-out
    &::-webkit-scrollbar
      width: 3px
      margin-left: -30px
    &::-webkit-scrollbar-thumb
      background: #C4C4C4

    @keyframes slide-right-2
      0%
        transform: translateX(-10px)
        opacity: 0
      100%
        transform: translateX(0)
        opacity: 1

  &__inserted-list
    overflow-x: hidden
    animation-name: slide-left-2
    animation-duration: .3s
    animation-timing-function: ease-in-out

    @keyframes slide-left-2
      0%
        transform: translateX(10px)
        opacity: 0
      100%
        transform: translateX(0)
        opacity: 1

  &__search-by-selector
    width: 200px !important

  &__page-size-selector
    width: fit-content !important


  &__print-body
    width: 210mm
    height: 297mm

