@import '../../../../sass/style'
@import "../../../../sass/mixins"

.call-center-page
  .gs-widget
    display: flex
    flex-direction: column
    .uik-widget-content__wrapper
      flex: 1
      display: flex
      flex-direction: column
    .loading
      flex: 1
      display: flex
      align-items: center
  .call-center-header
    .gs-atm__flex-row--flex-start
      .gs-component-tooltip
        margin-left: auto
  .call-center__list-body
    display: flex
    flex-grow: 1
    flex-shrink: 0
