.conversion-unit-page-variation
  .gs-widget-variation
    .conversion-variation
      .name-variation
        font-weight: 700
        font-size: 15px
        color: #000000
    .conversion-configure
      background: #F9F9F9
      border: 1px solid #EAEDF3
      .title-configure
        p
          font-style: italic
          font-size: 12px
          color: #7A7A7A
        .error_unit
          color: red!important
.modalSelectVariation
  .modal-content
    min-width: 386px
    .modal-header
      background: #F8F8F8
      padding: 10px 20px!important
      .modal-title
        color: #000000
        font-size: 18px
        font-weight: 500
        text-align: left!important
    .modal-body
      padding: 10px 20px!important
      text-align: left
      .form-control
        max-height: 300px
        overflow-x: hidden
        overflow-y: auto
        &::-webkit-scrollbar
          width: 3px
          margin-left: -3px
        &::-webkit-scrollbar-thumb
          background: #C4C4C4
        .checkbox_variation
          display: contents
          .variation-name
            padding: 5px
            .is-checked
              .custom-control-label::before
                background-color: rgba(56, 178, 73, 0.2)
                border-color: #b3d7ff
              .custom-control-label::after
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
      .modal-footer
      padding-top: 15px!important
      .gs-button
        height: 30px
        width: 75px

