.dashboard

  .row

    &:first-child
      margin-bottom: 0px

  .uik-widget-table__wrapper
    th
      font-weight: bold

  .uik-select__wrapper
    min-width: 10em

  .uik-select__optionList
    overflow: unset
    max-height: unset

  .dashboard-ava-card
    padding: 1rem .5em
    margin-bottom: 0px !important

  .uik-avatar__textTop
    font-size: .9rem
    font-weight: bold

  .uik-avatar__name
    font-size: 1.8rem
    font-weight: bold !important
    line-height: unset

  .uik-avatar__wrapper
    margin-top: 10px

  .uik-avatar__avatar, .uik-avatar__avatarWrapper
    width: 2.8rem
    height: 2.8rem

  .dashboard-ava-card--non-ava

    .uik-avatar__avatarWrapper
      display: none

  .divider
    border-left: 1px solid #DCDCDC
    border-right: 1px solid #DCDCDC
    margin-left: 2em
    margin-right: 2em
    padding: 1em 0
    height: 50%

  .dashboard__card-chart
    padding: 2rem 0

  .card-title
    font-weight: bold
    color: #9EA0A5
    margin-bottom: 10px
