.tiki-intro
  margin: auto

  &-header
    text-align: center

    span
      font-size: 1.3em

  &__button
    margin: 0 auto !important
    font-weight: bold
    font-size: 1.5em !important
    padding: 1.5rem 2rem !important
    border-radius: 0.5rem !important

  &-description

    i
      color: rgb(63, 81, 181)
      margin-right: 0.5rem
      font-size: 3em

    p
      font-size: 1.2em