.order-in-store-purchase-cart
    margin-top: 0!important
    height: 100%
    margin-bottom: 0 !important

    .order-in-store-purchase-cart__content
        max-height: calc(100vh - 165px)
        overflow-y: auto
        flex-grow: 1
    .uik-widget-title__wrapper
        h3
            width: 100%

    .uik-widget-title__wrapper:not(:last-child)
        border: none