.sub-element-editor-wrapper
  display: flex
  align-items: center

  &__label
    background-color: #FFFFFF
    padding: 11px 14px
    font-weight: bold
    border: 1px solid #D8D8D8
    font-size: 1rem
    color: #536be7
    display: flex
    align-items: center

  &__icon
    font-size: 1.1rem
    display: inline-flex
    margin-right: 14px
    justify-content: center
    align-items: center
