.sub-element-editor-array
  display: flex
  flex-direction: column
  background-color: #E5E5E5

  &__item
    display: flex
    font-weight: bold
    background-color: #F2F2F2

    &__name
      width: 100%
      padding: 1em
      cursor: pointer

    &__actions
      padding: 1.25em
      color: #5267df
      cursor: pointer

      &:hover
        opacity: 0.8

  &__dropdown
    display: none

