.sub-element-editor-object
  display: flex
  flex-direction: column
  background-color: #E5E5E5

  &__item
    display: flex
    font-weight: bold
    background-color: #F2F2F2

    &__name
      width: 100%
      padding: 1em
      cursor: pointer
      background-color: #536be7
      color: #FFFFFF
      text-transform: capitalize

    &__actions
      padding: 1.25em
      color: #536be7
      cursor: pointer

      &:hover
        opacity: 0.8

  &__dropdown
    display: none

