.sub-element-editor-menu
    .dropdown-select-menu
        padding: 15px 14px

        .uik-select__wrapper
            width: 100%
        .form-group
            margin: 0

    .color
        margin-top: 30px
        border-top: 2px solid #d9d7d7
        padding-bottom: 20px
        padding-top: 15px

        .title
            font-size: 0.8rem
            font-weight: bold

        .color-select-menu
            .setting
                margin-top: 20px
                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center

    &__menu-items
        display: flex
        font-weight: bold
        background-color: #F2F2F2
        margin-bottom: 7px

        &__name
            width: 100%
            padding: 8px 14px

        &__body
            display: flex
            flex-direction: column

    &__sub-menu
        display: flex
        font-weight: bold
        background-color: #F2F2F2
        margin-bottom: 7px

        &__name
            width: 100%
            padding: 8px 14px

        &__body
            display: flex
            flex-direction: column
      

  
      
    
      
      

