.flash-sale-color-picker
  display: flex
  flex-direction: column
  justify-content: space-between
  .color-picker
    margin-top: 1rem
  .flash-sale-color-picker-title
    font-weight: 500
    color: #536be7
    margin-top: 1rem

.flash-sale-items-per-slide-selector
  font-weight: 500
  background-color: #f2f2f2
  padding: .8em
  font-size: 1rem
  color: #536be7
  .sub-element-editor-wrapper
    display: flex
    align-items: center

.flash-sale-selector-bg
  background-color: #e6e6e6

.uik-checkbox__wrapper:not(.uik-checkbox__toggle):not(.uik-checkbox__radio).flash-sale-component-editor-checkbox
  .uik-checkbox__checkbox:checked + .uik-checkbox__label.green::before
    background: url(/assets/images/icon-checked.png) center no-repeat #536be7
    border: 1px solid #536be7
