.sub-element-editor-sub-menu
  display: flex
  font-weight: bold
  background-color: #F2F2F2
  margin-bottom: 7px

  &__name
    width: 100%
    padding: 8px 14px

  &__body
    display: flex
    flex-direction: column