.product-form-variation-selector

  .form-control.is-invalid
    padding-right: 12px

  .product-form-variation-selector__btn-delete
    min-width: unset
    //margin-top: 28px !important


  .product-form-variation-selector__gs-tag


  .product-form-variation-selector__table
    .input-th
      width: 10rem

    .input-th-stock
      width: 9rem


    tbody, thead
      tr
        td:first-child, th:first-child, td:last-child, th:last-child
          padding: 0 .5rem !important


      .uik-checkbox__wrapper
        margin-bottom: 0 !important

      .form-group
        margin-bottom: 0 !important

    background-color: #f9f9f9

    &--error
      border: 1px solid #dc3545 !important
      border-radius: .25rem
      
    .input-min-width
      width: 10rem




