.gs-widget-empty-content
  background-color: #F9F9F9
  margin: 0 -14px -14px -14px


  &__content-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-top: 2rem
    padding-bottom: 2rem

  &__text
    font-size: 14px
    color: #4A4A4A
    opacity: .5
    text-align: center

