.call-button
  width: 38px
  min-width: 38px !important

  &--pColor
    box-shadow: none !important
    background-color: transparent !important

  &__img
    filter: invert(76%) sepia(97%) saturate(1829%) hue-rotate(206deg) brightness(100%) contrast(91%)

    &--disabled
      filter: invert(30%) sepia(0%) saturate(1829%) hue-rotate(206deg) brightness(100%) contrast(91%)