.marketing_email_campaign_editor_preview
  flex-grow: 1

  .marketing_email_campaign_editor_preview__container
    background-color: white
    border-color: #eaedf3
    height: 100%

  .marketing_email_campaign_editor_preview__btn-mode
    min-width: unset !important
    width: 38px
    box-shadow: none
    transition: box-shadow .3s

    &.selected
      //border: 1px solid #b5b5b5
      box-shadow: 0 0 2px #999
