@import "../../../../../sass/mixins"
.gs-modal-upload-image

  @include mobile
    .modal-content
      margin: .5rem

  .upload-modal-header
    span
      padding: 0rem 0.5rem
      background-color: #c2c2c2
      border-radius: 100%
      &:after
        content: 'x'

