.gs-status-tag
  //font-weight: bold
  padding: .3em 1em
  border-radius: .2em
  display: inline-flex
  font-size: .8rem
  font-weight: bold
  white-space: nowrap

.gs-status-tag--no-border
    border: unset !important

.gs-tag-primary
  background-color: #2196f3
  border: 1px solid #006DD4
  color: white

.gs-tag-secondary
  background-color: #EBEDF0
  border: 1px solid #B1B2B6

.gs-tag-success
  background-color: #F1FFE4
  border: 1px solid #A2D574

.gs-tag-active
  background-color: #E4FFEC
  border: 1px solid #A2D574

.gs-tag-danger
  background-color: #FFE1DE
  border: 1px solid #F6614E

.gs-tag-warning
  background-color: #FEFCE2
  border: 1px solid #F7E747

.gs-tag-info
  background-color: #F1F3FF
  border: 1px solid #556CE7

.gs-tag-light
  background-color: #fafafa
  border: 1px solid #b3b3b4

.gs-tag-dark
  color: white
  background-color: #827e82
  border: 1px solid #000000
