.shopee-edit-product-variants-table
  width: 100%
  td, th
    padding: .5em
    max-width: 6em

    .invalid-feedback
      text-transform: none
      font-weight: normal

  .form-group
    margin-bottom: 0px

  .crystrapinput__wrapper
    margin-bottom: 0px

