.modal-refund
  .modal-content
    border-radius: 3px
    width: 400px!important
    .modal-header
      background: #F8F8F8
      padding-top: 10px!important
      padding-bottom: 10px!important
      .modal-title
        font-weight: 700
        font-size: 20px
        line-height: 23px
        text-align: center
        text-transform: capitalize
        color: #000000
    .modal-body
      padding: 1rem 3rem
      text-align: left
      .title-refund-order
        font-weight: 500
        font-size: 13px
        line-height: 15px
        color: #939393
        text-transform: uppercase
      .form-group
        margin-bottom: 0
        .refund-amount
          width: auto
        .form-control
          display: flex
          justify-content: space-between
          align-items: center
        .form-control.border-error
          border-color: #dc3545
      .invalid-feedback-error
        display: block
        width: 100%
        margin-top: 0.25rem
        font-size: 80%
        color: #dc3545
