.zalo-order-summary-message
  display: flex
  flex-direction: column
  width: 296px
  height: fit-content
  cursor: pointer
  border-radius: 10px
  overflow: hidden
  transition: all .25s ease-in-out

  &:hover
    box-shadow: #e3e3e3 3px 0 8px 3px

  .summary
    padding: 15px
    background: #FFFFFF

    .title
      font-weight: 500
      font-size: 18px
      color: #8F8F8F

    .indicator
      border: 1px solid #E4E4E4
      width: 100%
      margin-top: 13px

    .bill
      display: flex
      flex-direction: column
      padding: 0 15px

      .item
        display: flex
        padding: 13px 0
        border-bottom: 1px solid #E4E4E4

        .info
          display: flex
          flex-direction: column
          margin-left: 10px
          white-space: normal !important

          .name
            font-weight: 500
            font-size: 12px

          .model
            font-size: 10px
            color: #9D9D9D

          .quantity
            font-size: 10px
            color: #9D9D9D

      .shipping-address
        font-weight: 500
        font-size: 15px
        color: #8F8F8F
        margin-top: 13px

      .buyer-name
        font-weight: 500
        font-size: 12px
        margin-top: 11px

      .buyer-address
        font-size: 12px
        margin-top: 11px

      .payment-method
        font-weight: 500
        font-size: 15px
        color: #8F8F8F
        margin-top: 17px

      .payment-method-value
        font-weight: 500
        font-size: 12px
        margin-top: 6px

  .total
    background-color: #EFEFEF
    padding: 16px 15px
    display: flex
    justify-content: space-between
    font-weight: 500
    font-size: 20px
