.discount-campaign__detail
    .page-toolbar
        flex-direction: column-reverse

    .page-url__group
        position: relative

        .page-prefix
            position: absolute
            left: 10px
            top: 8px
            padding-left: 5px
            padding-right: 5px
            font-size: 1rem
            color: #495057

        .page-url
            //padding-left: 340px

    .content-title__group
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-bottom: 15px

        .select-template__drop
            min-width: 250px

    .field-bold
        font-weight: bold

    .page-row__collection
        display: flex
        align-items: center

        .collection-name
            flex: 4

        .product-number
            flex: 1

    .page-row__product
        display: flex
        align-items: center

        .product-image
            flex: 1
            width: 4em
            height: 4em

        .product-name
            padding-left: 10px
            flex: 9
    .gs-button__green
        padding-left: 20px
        padding-right: 20px
        white-space: nowrap
