.icon-call
  background-repeat: no-repeat
  width: 40px
  height: 40px
  display: block
  margin: auto
  background-position: center
  border-radius: 100%
  border: 1px solid blue
  background-size: 70%
  &.icon-call-play
    background-image: url('/assets/images/play.svg')
  &.icon-call-pause
    background-image: url('/assets/images/pause.svg')
    background-size: 60%
    filter: invert(20%) sepia(98%) saturate(5359%) hue-rotate(355deg) brightness(97%) contrast(120%)
    -webkit-filter: invert(20%) sepia(98%) saturate(5359%) hue-rotate(355deg) brightness(97%) contrast(120%)
    -moz-filter: invert(20%) sepia(98%) saturate(5359%) hue-rotate(355deg) brightness(97%) contrast(120%)
