.mega-filter-container
  background-color: white

  .dropdown-box
    font-size: 14px

  &.size-medium

    .dropdown-menu, .dropdown-box
      width: 600px

  &.size-small
    .dropdown-menu, .dropdown-box
      width: 400px

  &.size-large
    .dropdown-menu, .dropdown-box
      width: 800px



  .mega-filter-container_mobile_panel
    overflow: auto
    .gs-modal-fullscreen-mobile
      overflow-y: auto
    .filter-session:last-child
      margin-bottom: 30px

  .btn-filter-action
    border: 1px solid #D8DCE6
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08)
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08)
    padding: 0.75em
    height: 38px
    border-radius: 4px
    display: flex
    justify-content: space-between
    align-items: center
    width: 10rem
    cursor: pointer

    .icon-filter
      margin-right: -3px

  .mega-filter-container_panel
    width: 550px
    display: grid
    row-gap: 0.8ch
    grid-row-gap: 0.8ch
