.order-in-store-payment-method


  .order-in-store-payment-method__title
    border-right: 1px solid #EAEDF3

  .order-in-store-payment-method__radio-group
    flex-direction: row
    justify-content: space-between

    .uik-checkbox__radio
      flex-basis: 30%
      margin-right: .5rem
      &:last-child
        margin-right: 0
      .uik-checkbox__label
        width: 100%
        display: flex
        align-items: center


        &:after
          top: calc(50% - 3px)


  .order-in-store-payment-method__input-mpos-code
    padding-top: 2px
    padding-bottom: 2px
    font-size: 14px

  .order-in-store-payment-method__radio-label
    background-color: #F2F2F2
    padding: 1rem .7rem
    border-radius: 3px
    width: 100%
    text-transform: capitalize
    font-weight: 500
    border: 1px solid #d7d7d7
    img
      margin-right: .5rem
      width: 1.5rem
      height: 1.5rem

