.empty-blog-catgr-body
  text-align: center
  height: 35rem
  display: flex
  flex-direction: column
  img
    margin-top: 7rem
    margin-bottom: 2rem
  h3
    font-size: 1.5rem
    color: #ccc

.centered
  text-align: center !important

.bold-text
  font-weight: bold

.md-width
  width: 20rem

.sm-width
  width: 10rem

.pointer
  cursor: pointer

.margin-right-sm
  margin-right: 2rem

.font-large
  font-size: 1rem

.no-link-deco
  color: #3E3F42

.blog-category-table
  border-top: none !important
