.rename-theme-modal

  &__header
    color: #000000 !important
    background-color: #F7F5F5 !important

    h5
      text-align: left !important

  &__body
    text-align: left !important
    margin: 0 auto
    width: 100%

    label
      color: #000000 !important

  &__footer
    justify-content: flex-end !important