.account__information
  padding: 0 !important

/** RWD Setting */

// For mobile portrait
@media only screen and (max-width: 480px) and (orientation: portrait)
  .account__information
    .row
      flex-direction: column
      .col-6
        max-width: 100%
        padding-left: 0

// For mobile landscape
@media only screen and (max-width: 480px) and (orientation: landscape)
  .account__information
    .row
      flex-direction: column
      .col-6
        max-width: 100%
        padding-left: 0

// For ipad portrait
@media only screen and (max-width: 768px) and (orientation: portrait)
  .account__information
    .row
      flex-direction: column
      .col-6
        max-width: 100%
        padding-left: 0

// For ipad landscape
@media only screen and (max-width: 768px) and (orientation: landscape)
  .account__information
    .row
      flex-direction: column
      .col-6
        max-width: 100%
        padding-left: 0
