@import "../../../../sass/mixins"

.affiliate-inventory-product-name
  text-align: left
  margin-left: 1em
  word-break: break-word
  max-width: 40em
  align-self: flex-start !important
  padding-top: .3em !important