.color-picker-row
  display: flex

  .color-items
    margin-right: .5rem
    border-radius: 2px
    cursor: pointer
    transition-duration: .3s

    &:hover
      opacity: .8

    &.active
      box-shadow: inset 0 0 0 1px white
      border: 2px solid #90CE51

