.platform-selector
  margin-left: auto

  .view-button
    color: transparent
    background-color: transparent
    border: none
    background: none
    box-shadow: none
    padding: 29px !important
    min-width: fit-content

  button
    :focus
      outline: unset
    :hover
      color: transparent
      background-color: transparent


  .toolbar-view-indicator
    border-left: #4b64e0 solid 1px
    border-right: #2e3b87 solid 1px