@import "../../../../sass/mixins"

.fb-chat-intro
  height: 100%

  .notification-intro__body
    margin: auto 0

    .row
      flex: 1
      width: 100%

  .notification-intro__title
    font-size: 1.8rem
    margin-bottom: 1.2rem
    font-weight: bold

  .notification-intro__description
    font-size: .95rem
    margin-bottom: 1.2rem
    color: #3E3F42

  .notification-intro__background
    background-image: url("/assets/images/livechat.svg")
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: contain

  .notification-intro__left-col
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    @include mobile
      justify-content: flex-start

    .request-page__url
      width: 100%
      .input-page__url
        width: 100%
  .text
    display: flex
    margin-bottom: 15px
    text-align: left
    p
      margin-bottom: 0
    .icon-circle
      padding: 5px
      height: 5px
      border-radius: 50%
      background: #FFFFFF
      margin-right: 13px
      border: 5px solid #3EAE4E

  .btn-connect
    background-color: #3A5EA6
    padding: 12px 24px
    border-radius: 5px
    color: #FFFFFF
    font-weight: 500
    font-size: 18px
    display: flex
    align-items: center
    cursor: pointer

    &:hover
      opacity: .8
