

.order-in-store-use-point
  .form-group
    margin-bottom: 0

  .order-pos__input-point
    outline: none
    border: none
    border-bottom: 1px solid lightgray
    margin-bottom: .2rem
    border-radius: 0
    font-size: 1rem
    width: 5rem
