.select-variation-modal
    .modal-group-content
        max-height: 45vh
        min-height: 30vh
        overflow: auto
    .modal-title
        display: flex
        justify-content: space-between

.custom-modal
    min-width: 50vh