.change-budget__modal

  .change-budget__header
    .header-title
      text-align: left

    .header-sub__title
      font-weight: normal
      text-align: left
      font-size: 14px
      color: #9EA0A5

    .btn-close__icon
      background-image: url(/assets/images/icon-closepop-up.png)
      background-repeat: no-repeat
      width: 20px
      height: 20px
      display: block
      position: absolute
      top: 15px
      right: 15px
      cursor: pointer

      &:hover
        opacity: 0.7

  .change-budget-form__group
    border-top: 1px solid #EAEDF3
    padding-top: 15px

    .daily-budget__input
      input
        text-align: left

  .change-budget-btn__group
    margin-top: 40px
    border-top: 1px solid #EAEDF3
    padding-top: 15px





