.custom-check-box
  text-transform: initial !important
  .uik-checkbox__label
    color: #495057
    font-size: 1rem
    font-weight: 400

    &:hover
      color: #495057


  .uik-checkbox__checkbox:checked + .uik-checkbox__label
    &:hover
      color: #495057

.custom-check-box-sub-title
  color: #939393
  margin-left: 0.2rem
  margin-bottom: 0.25rem

.av-custom-checkbox-disabled
  opacity: .5