.gs-letter-image
  width: 20px
  height: 20px
  border-radius: 50%

  &__text-avatar
    width: 100%
    height: 100%
    background-color: #ECEDF1
    color: #9EA0A5
    font-size: 100%
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background-size: contain
    background-position: center
    background-repeat: no-repeat
