.gs-order-status

  &__dot
    border-radius: 50%
    width: .5rem
    height: .5rem
    margin-bottom: .2em
    margin-right: .5em

    &--success
      background-color: #90CE51
    &--danger
      background-color: #F84C30
    &--warning
      background-color: #FFC150
    &--info
      background-color: #556CE7
    &--secondary
      background-color: #9EA0A5

