.order-kpos-template
  .store-info, .customer-info
    color: #000000
    text-align: right

  .icon-dash::before
    content: "-"
    padding: 0 5px

  .point-indicator
    width: 100%
    border-top: 1px dashed #d5d5d5
    margin: 5px 0

  .border-dashed
    border-bottom: 1px dashed #dadada

  .text-used-point
    font-style: italic
    text-transform: lowercase
    color: #9ea0a5

  .background-total
    background-color: #f2f2f2

  table
    thead th
      background-color: #f2f2f2
      border: none
      padding: 0.3rem 0

    tbody tr:last-child
      border-style: none none none
      padding-bottom: 0

.font-weight-500
  font-weight: 500

.font-size_-65rem
  font-size: 0.65rem !important

.font-style-italic
  font-style: italic

.order-print-page-size_
  color: #000000 !important
  font-family: Arial, serif !important

.order-print-page-size_K80
  width: 74mm

  h1
    font-size: 0.95rem !important

  html, body
    width: 74mm
    margin: 0
    padding: 0

  table
    width: 74mm

  .font-size
    font-size: 0.85rem !important

  .earned-points, .information
    font-size: 0.75rem !important

  .background-total
    padding: 0.5rem 0

  .point-indicator
    margin: 5px 0

  .font-size_total
    font-size: .95rem!important

.order-print-page-size_K57
  width: 46mm

  h1
    font-size: 0.85rem !important

  html, body
    width: 46mm
    margin: 0
    padding: 0

  table
    width: 46mm

  .font-size
    font-size: 0.75rem

  .earned-points, .information
    font-size: 0.75rem

  .background-total
    padding: 0.3rem 0

  .point-indicator
    margin: 3px 0

    .font-size_total
    font-size: .85rem!important
