.gs-channels-wrapper
  border-radius: 50%
  border: 1px solid #eaedf3
  border-top: #eaedf3
  display: flex
  justify-content: center
  padding: unset !important
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
  //margin-right: 35px
  flex-basis: unset !important



  .shopee, .lazada, .beecow, .gosell, .contact_form, .imported
    background-repeat: no-repeat
    background-position-x: center
    background-position-y: center
    background-size: contain
    margin: 0
    background-clip: content-box
    border-radius: 50%
    align-self: center
    padding: unset !important
    flex-basis: unset !important

  .shopee
    background-image: url('/assets/images/sale_channels/shopee-connected.png')
    //border-radius: 50%

  .lazada
    background-image: url('/assets/images/sale_channels/lazada-connected.png')
    //border-radius: 50%



  .gosell
    background-image: url('/assets/images/sale_channels/store-front-connected.png')
    border-radius: 50%
    background-color: #556CE7
    background-size: auto

  .beecow
    background-image: url('/assets/images/sale_channels/beecow-connected.png')
    //border-radius: 50%

  .landing_page
    background-image: url('/assets/images/sale_channels/landing-page-connected.svg')
    background-repeat: no-repeat
    background-size: 100%
    margin-top: 9%

  .contact_form
    background-image: url('/assets/images/icon_contact_form.png')

  .imported
    background-image: url('/assets/images/sale_channels/imported.svg')
