@import "../../../../sass/mixins"

.call__center
  padding: 0 !important
  .setting__activation
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 20px 0

    .activation__block
      display: flex
      flex-direction: column
      &.first
        flex-basis: 60%
      .account__line2
        margin-top: 1em

      .btn-change-plan
        font-size: .8rem
        padding: 0 1em
        color: white !important
  .setting__extensions
    display: flex
    overflow-y: auto
    &.extensions-231
      height: 231px
    &.extensions-293
      height: 293px
    .table
      margin-bottom: 0 !important
      thead
        tr
          th
            color: #939393
            font-weight: bold
            text-transform: uppercase
            border-bottom: 1px solid #dee2e6 !important
            position: sticky
            top: -1px
            background-color: #fff
      tbody
        tr
          td
            font-weight: bold

  .setting__extensions-mobile
    flex-direction: column
    height: 345px
    overflow-y: auto
    .setting__account
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      padding: 20px 0
      flex-wrap: wrap
    .account__block
      display: flex
      flex-direction: column
      flex-basis: calc(100% - 50%)

@include mobile
  .call__center
    .setting__activation
      flex-direction: column
      align-items: flex-start
      justify-content: left
      .activation__block
        margin-top: 20px
