.collapsed-widget


  .gs-widget__content
    padding: 0

  .gs-widget__header
    padding: 1rem

  .uik-widget-title__wrapper:not(:last-child)
    border-bottom: unset

  .uik-widget-title__wrapper
    &.gs-widget__header
      h3
        width: 100%

      &:hover
        cursor: pointer

    .com-header
      display: flex
      align-items: center
      justify-content: flex-start
      flex-direction: row


      .device-wrapper
        margin-left: .5rem

        .device-icon
          padding-left: .5rem


    .com-name
      flex: unset

    .com-showmore
      display: flex
      flex: 1
      justify-content: flex-end

      i
        background-repeat: no-repeat
        width: 10px
        height: 10px
        display: block
        cursor: pointer

        &:hover
          opacity: 0.7

        &.icon-collapse
          background-image: url(/assets/images/icon-collapse.png)

        &.icon-expand
          background-image: url(/assets/images/icon-expand.png)


  .com-description
    color: #9EA0A5

  .com-content
    margin-top: 20px

    .row-item__col
      display: flex
      align-items: center
      border-top: 1px solid #EAEDF3
      padding: 15px 30px 15px 30px

      &.row-item
        padding: 30px

      .field-no
        flex: 2

      .field-url
        flex: 18











