.sticky-notification
    background-color: #0077ff
    color: #fff
    text-align: center
    padding: 1rem
    z-index: 100

    a
        text-transform: capitalize
        color: #d6e4f4
        font-weight: bold
        text-decoration: underline

    a:hover
        color: #f2f2f2
