.upgrade-channel-panel
  padding: 0px
  border: unset !important
  box-shadow: unset !important
  border-radius: .5em !important

  .upgrade-channel-container
    padding: 6em 4em
    background: url("/assets/images/upgrade_page/background.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border: unset !important
    box-shadow: unset !important
    border-radius: .5em !important
    background-color: #f2f3f2

    .title, .subTitle, .ft, .footer
      display: block

    .title
      font-size: 1.4rem
      font-weight: bold
      color: #556CE7
      margin-bottom: 2rem
      text-transform: uppercase

    .subTitle, .ft, .footer
      font-size: 1.15em

    .subTitle
      max-width: 28em
      margin-bottom: 1.2em

    .ft
      font-size: 1em
      min-height: 1.8em
      max-width: 50%

      &:before
        content: ''
        background: url("/assets/images/upgrade_page/check.svg")
        background-size: cover
        width: .7em
        height: .7em
        display: inline-block
        margin-right: .5em

    .footer
      font-size: 1em
      margin: 1.3em 0
      font-weight: bold

    .btn-upgrade
      width: 8.5em

.upgrade-expired-panel
  padding: 0px
  border: unset !important
  box-shadow: unset !important
  border-radius: .5em !important

  .upgrade-expired-container
    padding: 6em 4em
    background: url("/assets/images/upgrade_page/background_expired.png")
    background-size: 35%
    background-position: calc(90%) center
    background-repeat: no-repeat
    border: unset !important
    box-shadow: unset !important
    border-radius: .5em !important
    background-color: white

    .title, .subTitle, .ft, .footer
      display: block

    .title
      font-size: 1.4rem
      font-weight: bold
      color: #556CE7

    .subTitle
      font-size: 1rem
      font-weight: bold
      color: #556CE7
      margin-bottom: 2rem

    .ft
      font-size: 1em
      min-height: 1.8em
      max-width: 70%

      &:before
        content: ''
        background: url("/assets/images/upgrade_page/check.svg")
        background-size: cover
        width: .7em
        height: .7em
        display: inline-block
        margin-right: .5em

    .footer
      font-size: 1em
      margin: 1.7em 0 1.3em 0
      font-weight: bold

    .btn-upgrade
      width: 8.5em
