.marketing_email_campaign_editor_setting
  flex-basis: 300px
  flex-shrink: 0
  background-color: white
  padding: .5rem
  border-right: 1px solid rgb(234, 237, 243)
  overflow-y: auto

  #templateId
    display: none


  .marketing_email_campaign_editor_setting__send-to-wrapper
    .form-group
      margin-bottom: 0

  .marketing_email_campaign_editor_setting__email-to-address
    background-color: #f6f6f6
    border: 1px solid rgb(206, 212, 218)
    border-radius: 0 0 .25rem .25rem

    .form-group > input
      font-size: .8rem


  .marketing_email_campaign_editor_setting__email-to-segment

    .form-group
      display: none

