.gs-alert-box
  background-color: #EBEEFF
  border: 1px solid #C5CEFF
  box-sizing: border-box
  border-radius: 3px
  display: flex

  .gs-alert-box__icon
    width: 2.3rem
    height: 2.3rem
    margin-right: 14px


  .gs-alert-box__content