.gosocial-chat-note
  .errorNote
    color: #dc3545
    font-size: 12px
    padding-left: 10px
    line-height: 0px
    padding-bottom: 5px
  .gosocial-info-note
    padding: 0 0.7rem
    max-height: 60vh
    overflow-y: auto
    &::-webkit-scrollbar
      width: 3px
      margin-left: -30px
    &::-webkit-scrollbar-thumb
      background: #4051B6
  .page-header
    padding: 0.5em 0
    background: #F5F5F5
    img
      margin-right: 0.5em
    .section-title
      font-weight: 500
      font-size: 1rem
      color: #000000
  .gosocial-info-note-list
    padding-bottom: 5px
    border-top: 1px solid #DDE0E9
    padding-top: 5px
    &:first-child
      padding-top: 0
      margin-top: 0px
      border-top: 1px solid transparent
  p
    font-size: 13px
    margin-bottom: 6px
  .article-meta
    color: #979797
    font-weight: normal
    font-size: 9px
  .btn-group__action
    display: flex
    i
      background-repeat: no-repeat
      width: 15px
      height: 15px
      display: block
      background-size: 100%
      cursor: pointer
    .first-button
      background-image: url(/assets/images/icon-edit.png)
    .lastest-button
      margin-left: 10px
      background-image: url(/assets/images/icon-delete.png)


.modal-dialog.delete-note-facebook-modal
  .modal-content
    .modal-footer
      .gs-button__green
        background-color: #DC3545
        transition: all 0.3s
        &:hover
          opacity: 0.9
    .modal-body
      p
        margin: 0
    .modal-header
      background: #F8F8F8 !important
      padding: 6px 0 !important
      .modal-title
        font-size: 18px
        color: #DC3545
  