.gs-learn-more-footer
  display: flex
  align-items: center
  font-size: 1.1em
  border: 1px solid #DCDCDC
  border-radius: 9999px
  padding: .8rem 1.1rem
  background: #F6F6F6


  .icon-question
    margin-right: .3em
    width: 28px
    height: 28px

  a
    color: #5570E2
    margin-left: .3em
