.modal.fade.show
  display: flex!important
  align-items: center

  .confirm-modal
    width: 500px
    
    .modal-content
      border: none

      .modal-header
        padding: 0.75rem 1rem

      .modal-header.modal-success
        color: #fff
        background-color: #28a745
        border-color: #28a745
      .modal-header.modal-warning
        color: #212529
        background-color: #ffc107
        border-color: #ffc107
      .modal-header.modal-danger
        color: #fff
        background-color: #dc3545
        border-color: #dc3545
      .modal-header.modal-info
        color: #fff
        background-color: #17a2b8
        border-color: #17a2b8


      .modal-body
        font-size: 1.15em

      .modal-footer
        padding: 0.75rem 1rem

        .btn-outline-secondary.btn-secondary
          background-color: initial !important


.btn
  font-size: 1em