.order-instore-purchase-discount-modal
  .modal-header
    padding: 5px 15px 0 15px
    background-color: #F8F8F8
    .modal-title
      text-align: left !important
      color: black
      padding-bottom: 5px
      
  .modal-body
    padding-bottom: 1rem !important
    .discount-options
      .avform
        width: 228px !important
        overflow: hidden
      .form-group
        text-align: left
        width: 228px
        margin: 0
        div
          width: 100%
          margin: 0
          input
            width: 228px
            text-align: left !important
            min-width: unset
      .uik-select__wrapper
        width: 170px
        margin-right: 0.9rem
      .uik-input__inputWrapper
        min-width: 200px
        margin: 0
        input
          min-width: 200px
          height: 38px
          margin: 0
  .input-clear
    top: 4px !important
    transform: unset !important
    z-index: 10
    
  .description
    font-size: 14px
    text-align: left

    &__item
      display: flex
      align-items: center
      background-color: #FEF2E2
      padding: .5em
      margin-top: 1em
      font-weight: 500

      .free-shipping
        color: #46c9af

    .error
      color: #dc3545

  .input
    width: 100%
    min-width: 22em

    &-error
      border-color: #dc3545

    &-clear
      position: absolute
      right: 0
      top: 50%
      transform: translate(0, -50%)
      padding: 9px
      cursor: pointer

  .padding-right
    padding-right: 25px