.customer-editor-activity-list
  height: 100%

  .customer-editor-activity-list__blank
    background-color: white
    margin: 0
    height: 100%
    display: flex
    justify-content: center
    align-items: center

    .gs-widget-empty-content__icon
      width: 120px




  .customer-editor-activity-list__item-container
    display: flex
    flex-direction: column
    overflow-y: auto
    max-height: 800px

    .customer-editor-activity-list__item
      border: 1px solid lightgray
      border-radius: .4rem
      padding: 1rem

    .customer-editor-activity-list__history-type
      min-width: 7rem
      display: inline-block
