@import "../../../../../../sass/mixins"
.product-item__type
    width: 100%
    

    .title-click
        margin-left: 20px
        height: 2.5em
        display: flex
        flex-direction: column

        .alert__wrapper
            padding: 0px
            
        .title-hover
            cursor: pointer

        .title-hover:hover
            opacity: 0.7
        
        .product-item__type-error
            text-align: left
.theme-select-product__item-modal
    .btn-close__icon
        background-image: url(/assets/images/icon-closepop-up.png)
        background-repeat: no-repeat
        width: 20px
        height: 20px
        display: block
        position: absolute
        top: 15px
        right: 15px
        cursor: pointer

    @include mobile
        margin: 0 !important






    

