.row-social
  position: relative
  &.instagram
    input
      border-top-left-radius: 10px
      border-bottom-left-radius: 10px
  span.icon
    position: absolute
    top: 26px

  .form-group
    input
      padding-left: 45px
