.variation-list__item
  padding: 0.2rem
  display: flex
  clear: both
  width: 100%
  img
    width: 60px
    height: 60px
    border: 1px #9B9B9B solid
    margin: 1rem
    background-color: #ffffff
  div
    flex: 1
    padding: 2.3rem
  &.variation-list__item--active
    background-color: #1F6FE5
    color: #ffffff
