.gs-status-tag
  //font-weight: bold
  padding: .3em 1em
  border-radius: .2em
  display: inline-flex
  font-size: .8rem
  font-weight: bold
  white-space: nowrap

.gs-status-tag--no-border
    border: unset !important

.gs-tag-order
  background-color: #F1F3FF
  border: 1px solid #006DD4

.gs-tag-in-progress
  background-color: #FEFCE2
  border: 1px solid #B1B2B6

.gs-tag-completed
  background-color: #F1F3FF
  border: 1px solid #A2D574

.gs-tag-cancelled
  background-color: #FFE1DE
  border: 1px solid #F6614E
