.gs-discount-label
  position: relative
  display: flex
  align-items: center
  cursor: default

  .icon
    position: absolute

  .label
    border-radius: 10px
    padding: 1px 6px 1px 12px
    font-weight: 500
    font-size: 10px
    margin-left: 9px
    height: 13px
    line-height: 12px

    &.blue
      color: #3F51B5
      background-color: #C1CAFF

    &.yellow
      color: #FBAD29
      background-color: #FCDDA9