.assign-staff-modal
  .modal-header
    .modal-title
      font-weight: 500!important
      line-height: 14px
      color: #000000
      text-align: left!important
  .modal-content
    width: 400px
    .list-staff
      height: 400px
      overflow-y: auto
      overflow-x: hidden
      &::-webkit-scrollbar
        width: 3px
        margin-right: -3px
      &::-webkit-scrollbar-thumb
        background: #C4C4C4
      .staff-row
        .custom-control
          padding: 8px 8px 8px 1.5rem
          border-bottom: 1px solid #F3F5FF
          cursor: pointer
          transition: all .3s ease-out
          font-size: 14px
          margin: 0 5px
