.themeLogoUploaderItem
  display: flex!important
  display: -webkit-flexbox!important
  .gsTableBodyItem
    padding: .5em 1.5em!important
  .logoName
    padding: 0!important
    .subTitle
      color: #9EA0A5
      margin-top: .8em
    div
      padding: 0!important
  .alertWrapper
    padding-left: 0px!important
    text-align: left !important
    padding-top: .5em!important
    padding-bottom: .5em!important
  .logoUploader
    padding: 0!important
    button
      div
        padding: 0
    .fileName
      text-align: left
      margin-top: .5em
      padding: 0

    .btnRemove
      margin-left: 1em
      color: #9EA0A5
      opacity: .8
      cursor: pointer

      &:hover
        opacity: 1
      
  .logoPreview


  .logoUploaderCol
    //min-width: 300px
