.gs-date-time-picker
  .icon
    width: 22px
    height: 22px

  .icon-start
    position: absolute
    top: 50%
    transform: translate(0, -50%)
    left: 7px

  .icon-end
    position: absolute
    top: 50%
    transform: translate(0, -50%)
    right: 7px

  .input.icon-at-start
    padding-left: 2.2rem

  .input.icon-at-end
    padding-right: 2.2rem