.image-view

  .photo

    &--o9n-6
      transform: rotate(90deg)

    &--o9n-3
      transform: rotate(180deg)

    &--o9n-8
      transform: rotate(90deg)

    &--o9n-2
      transform: rotateY(180deg)

    &--o9n-5
      transform: rotate(90deg)
      transform: rotateY(180deg)

    &--o9n-7
      transform: rotate(90deg)
      transform: rotateY(180deg)

    &--o9n-3
      transform: rotate(180deg)
      transform: rotateY(180deg)