.quotation-in-store-purchase-complete


  // don't style this class, it's wrapper class
  &.quotation-in-store-purchase-complete__quantity-modal

    


    .quotation-in-store-purchase-complete__product-form
      max-height: 330px
      overflow-y: auto
      padding: 0 .5rem
      background-color: white

    .quotation-in-store-purchase-complete__product-table


      tr
        th
          position: sticky
          top: 0

        td, th
          &:first-child
            padding-left: 0 !important
            padding-right: 0 !important

          &:last-child
            padding-left: 0 !important
            padding-right: 0 !important
        .form-group
          margin-bottom: 0 !important


    .quotation-in-store-purchase-complete__input-stock
      max-width: 4rem

    .quotation-in-store-purchase-complete__table-product-name
      overflow-x: hidden
      text-overflow: ellipsis
      white-space: nowrap
      max-width: 15rem

  .quotation-in-store-purchase-complete__total-price
    color: red
    font-weight: bold
    font-size: 1.3vw

.update-missing__phone-number-modal
  .alert__wrapper
    text-align: left !important
  .update-missing__phone-number-modal__body
    display: flex
    flex-direction: column
    align-items: flex-start

    div
      width: 100%

    .phone_missing
      width: 100%
.quotation-in-store-purchase
  .quotation-in-store-purchase__pane--right
    .quotation-in-store-purchase-complete
      margin-top: 15px!important
    