@font-face
  font-family: EBGaramond
  src: url("/assets/fonts/EBGaramond/EBGaramond-normal.ttf")
  font-weight: normal

@font-face
  font-family: EBGaramond
  src: url("/assets/fonts/EBGaramond/EBGaramond-bold.ttf")
  font-weight: bold

@font-face
  font-family: EBGaramond
  src: url("/assets/fonts/EBGaramond/EBGaramond-500.ttf")
  font-weight: 500



@font-face
  font-family: JosefinSans
  src: url("/assets/fonts/JosefinSans/JosefinSans-normal.ttf")
  font-weight: normal

@font-face
  font-family: JosefinSans
  src: url("/assets/fonts/JosefinSans/JosefinSans-bold.ttf")
  font-weight: bold

@font-face
  font-family: JosefinSans
  src: url("/assets/fonts/JosefinSans/JosefinSans-500.ttf")
  font-weight: 500




@font-face
  font-family: Literata
  src: url("/assets/fonts/Literata/Literata-normal.ttf")
  font-weight: normal

@font-face
  font-family: Literata
  src: url("/assets/fonts/Literata/Literata-bold.ttf")
  font-weight: bold

@font-face
  font-family: Literata
  src: url("/assets/fonts/Literata/Literata-500.ttf")
  font-weight: 500



@font-face
  font-family: Oswald
  src: url("/assets/fonts/Oswald/Oswald-normal.ttf")
  font-weight: normal

@font-face
  font-family: Oswald
  src: url("/assets/fonts/Oswald/Oswald-bold.ttf")
  font-weight: bold

@font-face
  font-family: Oswald
  src: url("/assets/fonts/Oswald/Oswald-500.ttf")
  font-weight: 500



@font-face
  font-family: Petrona
  src: url("/assets/fonts/Petrona/Petrona-normal.ttf")
  font-weight: normal

@font-face
  font-family: Petrona
  src: url("/assets/fonts/Petrona/Petrona-bold.ttf")
  font-weight: bold

@font-face
  font-family: Petrona
  src: url("/assets/fonts/Petrona/Petrona-500.ttf")
  font-weight: 500



@font-face
  font-family: PlayfairDisplay
  src: url("/assets/fonts/PlayfairDisplay/PlayfairDisplay-normal.ttf")
  font-weight: normal

@font-face
  font-family: PlayfairDisplay
  src: url("/assets/fonts/PlayfairDisplay/PlayfairDisplay-bold.ttf")
  font-weight: bold

@font-face
  font-family: PlayfairDisplay
  src: url("/assets/fonts/PlayfairDisplay/PlayfairDisplay-500.ttf")
  font-weight: 500



@font-face
  font-family: Vollkorn
  src: url("/assets/fonts/Vollkorn/Vollkorn-normal.ttf")
  font-weight: normal

@font-face
  font-family: Vollkorn
  src: url("/assets/fonts/Vollkorn/Vollkorn-bold.ttf")
  font-weight: bold

@font-face
  font-family: Vollkorn
  src: url("/assets/fonts/Vollkorn/Vollkorn-500.ttf")
  font-weight: 500



@font-face
  font-family: CormorantGaramond
  src: url("/assets/fonts/CormorantGaramond/CormorantGaramond-Regular.ttf")
  font-weight: normal

@font-face
  font-family: CormorantGaramond
  src: url("/assets/fonts/CormorantGaramond/CormorantGaramond-Bold.ttf")
  font-weight: bold

@font-face
  font-family: CormorantGaramond
  src: url("/assets/fonts/CormorantGaramond/CormorantGaramond-Medium.ttf")
  font-weight: 500



@font-face
  font-family:  DancingScript
  src: url("/assets/fonts/DancingScript/DancingScript-Regular.ttf")
  font-weight: normal

@font-face
  font-family: DancingScript
  src: url("/assets/fonts/DancingScript/DancingScript-Bold.ttf")
  font-weight: bold

@font-face
  font-family: DancingScript
  src: url("/assets/fonts/DancingScript/DancingScript-Medium.ttf")


@font-face
  font-family: Lobster
  src: url("/assets/fonts/DancingScript/Lobster-Regular.ttf")
  font-weight: normal
  font-weight: 500



@font-face
  font-family:  Montserrat
  src: url("/assets/fonts/Montserrat/Montserrat-Regular.ttf")
  font-weight: normal

@font-face
  font-family: Montserrat
  src: url("/assets/fonts/Montserrat/Montserrat-Bold.ttf")
  font-weight: bold

@font-face
  font-family: Montserrat
  src: url("/assets/fonts/Montserrat/Montserrat-Medium.ttf")
  font-weight: 500


@font-face
  font-family: Nunito
  src: url("/assets/fonts/Nunito/Nunito-Regular.ttf")
  font-weight: normal

@font-face
  font-family: Nunito
  src: url("/assets/fonts/Nunito/Nunito-Bold.ttf")
  font-weight: bold

@font-face
  font-family: Nunito
  src: url("/assets/fonts/Nunito/Nunito-SemiBold.ttf")
  font-weight: 500


  @font-face
  font-family: OldStandardTT
  src: url("/assets/fonts/OldStandardTT/OldStandardTT-Regular.ttf")
  font-weight: normal

@font-face
  font-family: OldStandardTT
  src: url("/assets/fonts/OldStandardTT/OldStandardTT-Bold.ttf")
  font-weight: bold


@font-face
  font-family: OpenSans
  src: url("/assets/fonts/OpenSans/OpenSans-Regular.ttf")
  font-weight: normal

@font-face
  font-family: OpenSans
  src: url("/assets/fonts/OpenSans/OpenSans-Bold.ttf")
  font-weight: bold

@font-face
  font-family: OpenSans
  src: url("/assets/fonts/OpenSans/OpenSans-SemiBold.ttf")
  font-weight: 500


@font-face
  font-family: SourceSansPro
  src: url("/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf")
  font-weight: normal

@font-face
  font-family: SourceSansPro
  src: url("/assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf")
  font-weight: bold

@font-face
  font-family: SourceSansPro
  src: url("/assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf")
  font-weight: 500


@font-face
  font-family: LibreBodoni
  src: url("/assets/fonts/LibreBodoni/LibreBodoni-Regular.ttf")
  font-weight: normal

@font-face
  font-family: LibreBodoni
  src: url("/assets/fonts/LibreBodoni/LibreBodoni-Bold.ttf")
  font-weight: bold

@font-face
  font-family: LibreBodoni
  src: url("/assets/fonts/LibreBodoni/LibreBodoni-SemiBold.ttf")
  font-weight: 500


@font-face
  font-family: MontserratAlternates
  src: url("/assets/fonts/MontserratAlternates/MontserratAlternates-Regular.ttf")
  font-weight: normal

@font-face
  font-family: MontserratAlternates
  src: url("/assets/fonts/MontserratAlternates/MontserratAlternates-Bold.ttf")
  font-weight: bold

@font-face
  font-family: MontserratAlternates
  src: url("/assets/fonts/MontserratAlternates/MontserratAlternates-SemiBold.ttf")
  font-weight: 500


@font-face
  font-family: NotoSerifDisplay
  src: url("/assets/fonts/NotoSerifDisplay/NotoSerifDisplay-Regular.ttf")
  font-weight: normal

@font-face
  font-family: NotoSerifDisplay
  src: url("/assets/fonts/NotoSerifDisplay/NotoSerifDisplay-Bold.ttf")
  font-weight: bold

@font-face
  font-family: NotoSerifDisplay
  src: url("/assets/fonts/NotoSerifDisplay/NotoSerifDisplay-SemiBold.ttf")
  font-weight: 500


@font-face
  font-family: RobotoCondensed
  src: url("/assets/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf")
  font-weight: normal

@font-face
  font-family: RobotoCondensed
  src: url("/assets/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf")
  font-weight: bold

@font-face
  font-family: RobotoCondensed
  src: url("/assets/fonts/RobotoCondensed/RobotoCondensed-SemiBold.ttf")
  font-weight: 500


.editing-area
  position: relative
  width: 100%
  overflow: hidden
  position: relative
  height: calc(100vh - 70px)
  background-color: #ffffff

  .iframecontainer
    position: absolute
    display: flex
    top: 0
    width: 100%
    height: 100%

  .iframe_container_responsive
    background-color: #d2d2d2

    .iframe_container_wrapper
      position: absolute
      top: 0
      height: 100%
      width: 100%

    .web-responsive
      position: relative
      width: 412px
      height: 813px
      margin: auto

    .smartphone
      position: relative
      width: 412px
      height: 732px
      margin: auto
      border: 16px black solid
      border-top-width: 60px
      border-bottom-width: 60px
      border-radius: 36px

      &:before
        content: ''
        display: block
        width: 60px
        height: 5px
        position: absolute
        top: -30px
        left: 50%
        transform: translate(-50%, -50%)
        background: #333
        border-radius: 10px

      &:after
        content: ''
        display: block
        width: 35px
        height: 35px
        position: absolute
        left: 50%
        bottom: -65px
        transform: translate(-50%, -50%)
        background: #333
        border-radius: 50%

  .page-load-error
    display: flex
    opacity: 0.6
    height: 200px
    line-height: 1.5
    justify-content: center
    align-items: center
    vertical-align: middle
    text-transform: uppercase
