.blog-article-form-editor

  .blog-article-form-editor__col--right
    flex-basis: 350px
    padding-left: 1rem
    flex-shrink: 0

  .blog-article-form-editor__status-table
    td
      padding: .2rem .4rem

  .blog-article-form-editor__upload-feedback
    height: 52px
    display: flex
    align-items: center
    justify-content: center

.blog-article-form-editor__featured-text
    .field__wrapper
      .counter__wrapper--top-right
        top: 2.8em
