.quotation-instore-purchase
    width: 100%
    display: flex
    flex-direction: column
    position: relative
    .uik-select__valueRendered
        border-radius: 0
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
        box-shadow: none
    .uik-input__input
        padding: 4px 15px
        border-radius: 0
        border-bottom-right-radius: 5px
        border-top-right-radius: 5px
    .search-box__wrapper
        width: 100%

    .search-list__result
        max-height: 75vh
        overflow-y: auto
        width: 100%
        transform: translate3d(0px, 40px, 0px) !important
        box-shadow: 0 1px 3px 0 #e7dede

        .found-result
            text-align: center
            color: gray


        .product-item
            display: flex
            flex-direction: column
            overflow: hidden
            .product-item-row-border
                border-bottom: 1px solid #EAEDF3 !important
                width: 100%
            &.unit
                border-color: transparent
                .product-item-row-border
                    margin-left: 15px                    
            .product-item-row
                overflow: hidden
                text-overflow: ellipsis
                white-space: pre
                cursor: pointer
                font-size: 14px
                display: flex
                justify-content: flex-start
                align-items: center
                padding: .2rem 1rem
                &.unit
                    background: #F9F9F9
                    border-bottom: 1px solid #EAEDF3 !important
                    &:hover
                        background-color: rgba(84, 147, 245, 0.05)
    
                .product-item-row__product-summary
                    margin-right: auto
                    margin-left: 1rem
    
                .product-item-row__product-name
                    //max-width: 400px
                    overflow-x: hidden
                    white-space: pre
                    text-overflow: ellipsis
    
    
    
                &.product-item-row__lastchild
                    justify-content: center
                    border-bottom: unset !important
                    box-shadow: unset
    
                .product-item-row__thumbnail
                    width: 4rem
                    height: 4rem
    
                .select__check
                    width: 5px
                    height: 5px
                    background-color: #38B249
                    border-radius: 50%
            // .loading-row
            //     display: flex
            //     justify-content: center
            //     align-items: center
            //     height: 100%
            //     width: 100%
            //     top: 0
            //     position: absolute
            //     background-color: rgba(0, 0, 0, 0.02)


    .quotation-instore-purchase__btn-clear-all
        position: absolute
        right: 10px
        top: calc(50% - 8px)
