.url__type
    width: 100%
    position: relative

    .url-prefix
        position: absolute
        left: 10px
        top: 8px
        padding-left: 5px
        padding-right: 5px
        font-size: 1rem
        color: #495057
        background-color: #F5F5F6







    

  