@import "../../../../sass/mixins"
.alert-modal
  @include mobile
    width: unset !important

  .modal-content
    border: none

    .modal-header
      background: unset !important
      border-bottom: unset !important
      padding-bottom: 0px !important

      .modal-title
        width: 100%
        text-align: center
        font-weight: bold

    .modal-header.modal-success
      color: #28a745 !important
    //background-color: #28a745
    //border-color: #28a745
    .modal-header.modal-warning
      color: #ffc107 !important
    //background-color: #ffc107
    //border-color: #ffc107
    .modal-header.modal-danger
      color: #dc3545 !important
    //background-color: #dc3545
    //border-color: #dc3545
    .modal-header.modal-info
      color: #17a2b8 !important
    //background-color: #17a2b8
    //border-color: #17a2b8


    .modal-body
      //font-size: 1.15em
      text-align: center

    .modal-footer
      padding-top: 0px !important
      display: flex
      justify-content: center
      border-top: unset !important

      .btn-outline-secondary.btn-secondary
        background-color: initial !important
