.listing__website
  padding: 0 !important
  .gs-widget
    .gs-widget__header
      background: #fff!important
      padding: 25px 15px
      h3
        font-size: 1.2rem!important

  .listing__website-wrapper
    background-color: #F9F9F9
    border-radius: 4px
    border: 1px solid #EAEDF3

    .listing__website-header
      padding: 9px 20px
      background-color: white
      border-bottom: 1px solid #e2e2e2
      min-height: 70px

    .listing__website-body
      padding: 20px

      .province-selector .css-1gbz4ua
        max-height: 70px
        overflow-y: auto

/** RWD Setting */

// For mobile portrait
@media only screen and (max-width: 480px) and (orientation: portrait)
  .listing__website
    .gs-widget__header
      padding: 1em
    .gs-widget__content
      .setting__listing_website
        padding-left: 0
        .col-md-12
          padding-left: 0
          padding-right: 0
          display: flex
          flex-direction: row
          justify-content: space-between
          img
            height: 100%
            object-fit: contain

// For mobile landscape
@media only screen and (max-width: 480px) and (orientation: landscape)
  .listing__website
    .gs-widget__header
      padding: 1em
    .gs-widget__content
      .setting__listing_website
        padding-left: 0
        .col-md-12
          padding-left: 0
          padding-right: 0
          display: flex
          flex-direction: row
          justify-content: space-between
          img
            height: 100%
            object-fit: contain

// For ipad portrait
@media only screen and (max-width: 768px) and (orientation: portrait)
  .listing__website
    .gs-widget__header
      padding: 1em
    .gs-widget__content
      .setting__listing_website
        padding-left: 0
        .col-md-12
          padding-left: 0
          padding-right: 0
          display: flex
          flex-direction: row
          justify-content: space-between
          img
            height: 100%
            object-fit: contain

// For ipad landscape
@media only screen and (max-width: 768px) and (orientation: landscape)
  .listing__website
    .gs-widget__header
      padding: 1em
    .gs-widget__content
      .setting__listing_website
        padding-left: 0
        .col-md-12
          padding-left: 0
          padding-right: 0
          display: flex
          flex-direction: row
          justify-content: space-between
          img
            height: 100%
            object-fit: contain
