
.order-revenue-trend
  .dashboard__card-chart
    border: none
    box-shadow: none
  .uik-avatar__wrapper
    .uik-avatar__textTop
      font-weight: bold
      text-transform: uppercase
      font-size: 16px
    .uik-avatar__name
      font-weight: bold
      font-size: 19px
