.order-in-store-purchase-printer

  .store-info,
  .customer-info
    color: rgba(0, 0, 0, 0.9)
    text-align: right

  .icon-dash::before
    content: '-'
    padding: 0 5px

  .point-indicator
    width: 100%
    border-top: 1px dashed #D5D5D5
    margin: 5px 0

  .border-dashed
    border-bottom: 1px dashed #DADADA

  .text-used-point
    font-style: italic
    text-transform: lowercase
    color: #9EA0A5

  .background-total
    background-color: #F2F2F2

  table
    thead
      th
        background-color: #F2F2F2
        border: none
        padding: 0.3rem 0

    tbody
      tr
        &:last-child
          border-style: none none none
          padding-bottom: 0

.order-print-page-size_
  color: #000000 !important
  font-family: Roboto, serif !important

  &K80
    width:  74mm

    h1
      font-size: .8rem !important

    html, body
      width: 74mm
      margin: 0
      padding: 0

    table
      width: 74mm

    .font-size
      font-size: .7rem!important

    .earned-points,
    .information
      font-size: .6rem!important

    .background-total
      padding: 0.5rem 0

    .point-indicator
      margin: 5px 0
  &K57
    width:  46mm

    h1
      font-size: .7rem !important

    html, body
      width:  46mm
      margin: 0
      padding: 0

    table
      width: 46mm

    .font-size
      font-size: .6rem!important

    .earned-points,
    .information
      font-size: .5rem!important

    .background-total
      padding: 0.3rem 0

    .point-indicator
      margin: 3px 0
