

.legend-con 
  font-family: Roboto
  display: inline-block
  ul
    list-style: none
  
  li 
    display: flex
    align-items: center
    margin-bottom: 4px
    span 
      display: inline-block
    
    span.chart-legend 
      width: 25px
      height: 25px
      margin-right: 10px
        
    
