.product-list-barcode-printer-product-row
  border-bottom: 1px solid #e2e2e2

  .product-list-barcode-printer-product-row__product-name
    white-space: pre
    overflow: hidden
    text-overflow: ellipsis
    max-width: 25rem

  .uik-checkbox__wrapper
    margin-left: .75rem

  .form-group
    width: 4rem
    margin-bottom: 0
    margin-right: 1rem

  .product-list-barcode-printer-product-row__quantity-input
    margin-right: 1rem

    input
      width: 4rem

  .product-content
    max-width: 450px
