.logoutButton
  color: white
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  cursor: pointer
  //transition-duration: .5s
  //padding: 2px 5px
  //border-radius: 2px
  //border-width: 1px
  //border-style: solid
  //border-color: rgba(0,0,0,0)
  //margin-right: 5px
  //height: 2em
  //width: 1.5em
  //overflow: hidden

  img
    height: 1em
    margin-right: .5em

  .logout-button__text
    //width: 0px
    //overflow: hidden
    //transition-duration: .3s
    //white-space: nowrap

  //&:hover
  //  border-color: white
  //  width: fit-content
  //
  //  .logout-button__text
  //    width: 100%
  //
  //  .logout-button__icon
  //    transform: rotateZ(-90deg)



  //.logout-button__icon
  //  font-size: 1.5em
  //  margin-right: 5px
  //  transition-duration: .3s


