.modal-cancel-reservation-confirm
  .header-custom
    padding-bottom: 1rem !important
    text-align: left !important
    
    .btn-close__icon
      background-image: url(/assets/images/icon-closepop-up.png)
      background-repeat: no-repeat
      width: 20px
      height: 20px
      display: block
      position: absolute
      top: 15px
      right: 15px
      cursor: pointer

      &:hover
        opacity: 0.7
      
  .modal-body
    padding-bottom: 0px
    text-align: left !important
    border-top: 1px solid #EAEDF3
    border-bottom: 1px solid #EAEDF3
    .reservation-warning
      border: 1px solid #FF8E21
      margin-bottom: 10px
    .reservation-date
      position: relative
      width: 100%
      .reservation-date__icon
        position: absolute
        right: 5px
        top: 8px
    
    .reservation-quantity
      position: relative

      .value 
        padding-right: 4.5em
        text-align: right
      .unit
        color: #9EA0A5
        position: absolute
        right: 5px
        top: 8px

  .modal-footer
    .footer-custom
      width: 100%
      padding-top: 1rem 
      text-align: right

      .footer-col__custom
        display: flex
        justify-content: flex-end


  

  .input-reason
    margin-top: 1em
