

.gs-ani__fade-out-leave
  opacity: 1

.gs-ani__fade-out-leave.gs-ani__fade-out-leave-active
    opacity: 0.01
    transition: opacity 500ms ease-in

.setting-plans
  @media screen and (max-width: 670px)
    .package-plan-progress-step-navigation .step__label__col
      min-width: 7em
