@import "../../../../../sass/mixins"
.customer-related-order-list

  .gs-status-tag--beecow
    background-color: #201f57
    color: white

  .gs-status-tag--lazada
    background-color: #183546
    color: white

  .gs-status-tag--shopee
    background-color: #ff4848
    color: white

  .gs-status-tag--gosell
    background-color: #1665D8
    color: white
  .m-filter

    box-shadow: 0 2px 0 0 #c2c2c2

    .row
      width: 100%
      .search-box__wrapper
        padding: 1rem
        width: 100%

  .gs-mobile-list-container
    .gs-mobile-list__row
      display: flex
      justify-content: space-between

      .left-col
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start

        .display-name
          color: gray
          max-width: 50vw
          text-overflow: ellipsis
          white-space: nowrap
          overflow: auto


      .payment-method
          color: gray

  .loading-list
    padding: 1rem
