
@import "../../../../sass/mixins"

.gs-social-tag-status-container-wrapper
  &.gs-page-container-max
    padding: 0
  .uik-widget__wrapper
    background: transparent
    border: none
    box-shadow: none
    .uik-widget-content__wrapper
      padding: 0

  .social-tag-status-container
    display: flex
    position: relative
    width: fit-content
    &:hover
      .tags-tag-status-area
        gap: 0.3rem
        z-index: 10
        opacity: 1
        visibility: visible
        transform: translate(0, 5px)
        transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97)
    .tags-tag-status-area
      display: flex
      justify-content: flex-start
      margin-top: 0.6rem
      flex-wrap: wrap
      visibility: hidden
      top: 1rem
      position: absolute
      opacity: 0
      z-index: 1
      border: 1px solid #D8DCE6
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.09)
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.09)
      background-color: #FFFFFF
      padding: 5px 10px
      left: -35%
      border-radius: 5px
      &::after
        content: ""
        position: absolute
        bottom: 100%
        left: 45%
        border-width: 7px
        border-style: solid
        border-color: transparent transparent white transparent
    .social-tag-lead
      width: 70px
      height: 25px
      display: flex
      align-items: center
      padding-left: 0.4rem
      border-radius: 0.3em
      font-size: 10px
      -webkit-transition: background-color .25s ease-out
      -moz-transition: background-color .25s ease-out
      -o-transition: background-color .25s ease-out
      transition: background-color .25s ease-out
      >i
        width: 12px
        height: 100%
        border-radius: 50%
        margin-right: 0.4rem
        &.bookmark
          content: url(/assets/images/icon-bookmark.svg)
    .social-tag-element
      width: 100px
      height: 30px
      padding-left: 5px
      cursor: pointer
      margin: 0
      font-size: 13px
      >i
        display: none
      
    