@import "../../../../../sass/mixins"

.cashbook-summary
  &.item
    padding: 0 4px

    .gs-widget
      margin: 5px 0

  &.item:first-child
    padding-left: 0

  &.item:last-child
    padding-right: 0

  &.item:nth-child(1)
    color: #3E3F42

  &.item:nth-child(2)
    color: #4051B6

  &.item:nth-child(3)
    color: #DA1919

  &.item:nth-child(4)
    color: #3E3F42

  @include mobile
    &.item:nth-child(2)
      padding-right: 0 !important

    &.item:nth-child(3)
      padding-left: 0 !important

