$gbc__blue: #2196f3
$gbc__blue--hover: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%
$gbc__green: #90CE51
$gbc__green--hover: #7cc834 radial-gradient(circle, transparent 1%, #85c854 1%) center/15000%
$gbc__cyan: #33b5e5
$gbc__cyan--hover: #7cdde5 radial-gradient(circle, transparent 1%, #7cdde5 1%) center/15000%
$gbc__yellow: #fb3
$gbc__yellow--hover: #ffdb4f radial-gradient(circle, transparent 1%, #ffdb4f 1%) center/15000%
$gbc__gray: #2196f3
$gbc__gray--hover: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%
$gbc__red: #ff3547
$gbc__red--hover: #ff4d4f radial-gradient(circle, transparent 1%, #ff4d4f 1%) center/15000%
$gbc__gray: #b3b3b4
$gbc__gray--hover: #d6d6d7 radial-gradient(circle, transparent 1%, #d6d6d7 1%) center/15000%
$gbc__white: white
$gbc__white--hover: #f9f9f9 radial-gradient(circle, transparent 1%, #f9f9f9 1%) center/15000%

@mixin create-button($primary-color, $hover-color, $color: white)
  background-color: $primary-color
  border-color:  $primary-color
  color: $color
  &:hover
    background: $hover-color
  &:active
    background-color: rgba(255, 248, 253, 0.06)
    background-size: 100%
    transition: background 0s

  &--outline
    border-color:  $primary-color
    border-width: 1px !important
    border-style: solid !important
    background-color: white !important
    color: $primary-color
    &:hover
      background: $hover-color !important
      color: white
    &:active
      background-size: 100%
      transition: background 0s

.gs-button
  cursor: pointer
  color: white
  box-shadow: 0 0 2px #999
  border: none
  outline: none
  padding: 0.4rem 0.75rem
  border-radius: 2px
  font-size: 0.875rem
  height: 38px
  min-width: 6em
  background-position: center
  transition: background 0.2s
  transition-timing-function: ease-in

  &--small
    height: 28px
    padding: .2rem .5rem
    font-size: .8rem

  &--large
    height: 4rem
    padding: .2rem .5rem
    font-size: 1.6rem
    font-weight: 500


  &:focus
    outline: unset !important



  &__blue
    @include create-button($gbc__blue, $gbc__blue--hover)

  &__green
    @include create-button($gbc__green, $gbc__green--hover)

  &__cyan
    @include create-button($gbc__cyan, $gbc__cyan--hover)

  &__yellow
    @include create-button($gbc__yellow, $gbc__yellow--hover)

  &__black
    @include create-button(black, black)

  &__red
    @include create-button($gbc__red, $gbc__red--hover)


  &__gray
    @include create-button($gbc__gray, $gbc__gray--hover, black)


  &__white
    @include create-button($gbc__white, $gbc__white--hover, black)

