.checkout-information
  padding: 0 !important
  .gs-widget
    .gs-widget__header
      background: #fff!important
      padding: 25px 15px
      h3
        font-size: 1.2rem!important

  .checkout-information__body
    display: flex
    justify-content: space-between
    align-items: center

    .checkout-information__toggle
      margin-bottom: 0px
