@import "../../../../../sass/mixins"

#multi-price
    .product-variation-price-editor-modal__table
        td:first-child, th:first-child
            white-space: inherit !important
            min-width: 23vw
        .title-desc-ellipsis
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-line-clamp: 23
            -webkit-box-orient: vertical