@import "../gsvariables"

.gs-frm-input

  &__label
    color: $color-frm-label
    text-transform: uppercase
    font-weight: bold
    font-size: $font-size-frm-label


.gs-frm-control__title
  color: $color-frm-label
  text-transform: uppercase
  font-weight: bold
  font-size: $font-size-frm-label

.gs-frm-control__title-extra
  color: $color-frm-label
  font-size: $font-size-frm-label


.gs-frm-control__btn

  &--disable
    background-color: #e6e6e6
    color: white
    border: 1px solid #e6e6e6
    pointer-events: none

.gs-frm-control__btn-save-no-outline
  color: #007bff
  cursor: pointer

  &:hover
    color: #0056b3
    text-decoration: underline
