.gs-modal__header

  h5
    font-size: 1rem
    font-weight: bold

  &--text-center
    h5
      width: 100%
      text-align: center


  &--no-bottom-border
    border-bottom: unset
    padding-bottom: 0

.gs-modal__footer

  &--no-top-border
    border-top: unset !important
