.gs-status-tag
  border-radius: 2px
  min-width: 8em
  justify-content: center

  &--active
    background-color: #fcb016
    color: white

  &--inactive
    background-color: #939393
    color: white

  &--error
    background-color: #ff4848
    color: white