.gs-tags

  & > div
    border: 1px solid #ced4da !important
    cursor: text !important
    width: 100%

  &:focus-within

    & > div
      border-color: #80bdff !important
      outline: 0 !important
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important

  &--error

    & > div
      border-color: #dc3545 !important

    &:focus-within

      & > div
        border-color: #dc3545 !important
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important


