.collection-conditions-config-row
  margin: .5em 0
  padding: 0 30px

  .uik-select__bottomLeft
    width: 100%

  .uik-select__wrapper
    width: 100%

  .uik-input__input
    padding: 0 15px
    height: 38px

  .action
    margin-top: 8px

    i
      background-repeat: no-repeat
      width: 20px
      height: 20px
      display: block
      cursor: pointer
      &.remove-button
        background-image: url(/assets/images/icon-delete.png)

        &:hover
          opacity: 0.7

