.add-flash-sale-time-modal

  &__header
    color: #000000 !important
    background-color: #F6F6F6 !important

    h5
      text-align: left !important
      margin: 0 0 .3em .7em

  &__body
    text-align: left !important
    margin: 0 1em 1em 1em
    width: 100%

    label.section
      font-weight: 500

    label:not(.section)
      color: #999999 !important
      margin-right: 1em

    .error
      color: #dc3545
      font-size: 0.8em
      display: block
      text-align: center
      margin-top: 1em

    .input-error
      border: 1px solid #dc3545
      border-radius: 4px