.modal-dialog.gs-cancel-note-modal
  .modal-content
    .modal-header
      padding-top: 7px !important
      background: #F8F8F8
      .modal-title
        font-size: 18px
        font-weight: 500
        color: black
        padding-bottom: 7px
    .modal-body
      padding: 0 25px !important
      .gs-frm-control__title
        text-align: center
        width: 100%
        color: black
        font-size: 13px
        text-transform: unset
        font-weight: unset
        padding-bottom: 10px




