.page-selector
  width: 19.5%
  margin-bottom: 0!important
  padding-right: 10px
  border-right: 1px solid #E6E6E6
  .page-selector__button
    border-radius: 20px
    background-color: #F5F5F5!important
    border: none!important
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0.375rem 0.5rem 0.375rem 0.3rem
    img
      border-radius: 30px
      margin-right: 10px
  .page-selector__dropdown
    padding: 5px
    width: 95%
    .collection-selector__dropdown__item
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      width: 100%
      img
        border-radius: 30px
        margin-right: 10px
    .dropdown-item.active, .dropdown-item:active
      background-color: transparent!important
      color: #000000
    .dropdown-item:hover
      background-color: rgba(84, 147, 245, 0.05)!important

.header-name
  display: flex
  align-items: center
  margin-left: 10px
  background-color: #F5F5F5
  min-width: 180px
  border-radius: 20px
  position: relative
  img
    border-radius: 30px
    margin-left: 5px
    margin-right: 10px
  .total-chat
    position: absolute
    background-color: #DE0000
    color: white
    border-radius: 50%
    text-align: center
    padding: 5px
    vertical-align: middle
    display: flex
    justify-content: center
    align-items: center
    width: 15px
    height: 15px
    top: -5px
    right: 10px
    font-size: .6rem