.top-sales-staff
  &__dropdown
    cursor: pointer

  &__table
    max-height: 570px
    overflow-y: auto

    &__no-data
      font-size: 1.1em
      padding-right: 1em
      margin-top: 1rem

    table
      width: 100%

      thead
        background-color: #F5F5F5
        color: #999999
        font-size: 1rem

        th
          font-weight: normal
          padding: .2em .5em

      tbody
        td
          border-bottom: 1px solid #EAEDF3

          .avatar
            background-color: #556CE7
            color: #FFFFFF

          .row-staff-name
            max-width: 15em
            min-width: 5em
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden
            color: #3E3F42
            font-size: 1em
            font-weight: 500

          .row-staff-order
            font-size: .9em
            color: #808080
            font-weight: 500
