.shopee-link-product
  .table thead th
    color: #000000 !important
    font-weight: bold

.modalDeleteProduct
  .modal-dialog
    .modal-content
      .modal-body
        p
          font-weight: 600
        .boxCheckedDelete
          text-align: left
          margin-left: 30px
          display: flex
          padding: 0.5rem 0
          uik-checkbox__label
            margin-right: 10px

.toggleSync.modal-dialog
  .uik-checkbox__label:before
    width: 22px !important
    height: 22px !important
  .uik-checkbox__checkboxIcon
    height: 12px !important
    width: 14px !important
  .actionSelectSync
    background-color: #efefef
    padding: 20px 10px
    margin-top: 10px
    .checkbox
      font-size: 14px
    .uik-checkbox__label:before
      width: 20px !important
      height: 20px !important
    .uik-checkbox__checkboxIcon
      height: 10px !important
      width: 12px !important
    .checkbox:nth-child(1)
      margin-bottom: 10px
    .checkbox:nth-child(2)
      margin-bottom: 10px

  .modal-content
    .modal-body
      font-weight: 600
    .modal-header
      .modal-title
        font-size: 23px
        color: #7cc834
      button
        display: none
