.cashbook-list
  overflow-x: auto

  .table
    display: flex
    flex-direction: column
    flex-grow: 1
    margin-top: 13px

    thead
      th
        white-space: pre

      td
        min-width: 12em

    .transaction-code
      color: #1E69D5
      cursor: pointer

      &:hover
        text-decoration: underline