.toolbar-view-layout
  .translate-button
    color: white
    background-color: #546BE6
    border: #4659C5
    box-shadow: none
    min-width: fit-content
    margin-left: 1em
    font-size: 14px
    border-radius: 2px
    padding: .5em 1em !important

    &:focus
      outline: unset

    &:hover
      opacity: .7

  .translate-dropdown
    color: white
    background-color: #546BE6
    border: #4659C5
    box-shadow: none
    margin-left: 1em
    font-size: 14px
    border-radius: 2px
    cursor: pointer
    min-width: 140px

    &:focus
      outline: unset

    &__button
      padding: .5em 1em !important

  .platform-type
    margin-left: auto

    .view-button
      color: transparent
      background-color: transparent
      border: none
      background: none
      box-shadow: none
      padding: 1em !important
      min-width: fit-content

    button
      :focus
        outline: unset
      :hover
        color: transparent
        background-color: transparent

  .platform-action
    margin-left: auto
    margin-right: 1rem

    .gs-save-btn
      background-color: transparent !important
      color: white

    .gs-cancel-btn
      background-color: transparent !important
      color: white

    .gs-button
      margin: 0
      height: 3em

  .toolbar-view-indicator
    border-left: #4b64e0 solid 1px
    border-right: #2e3b87 solid 1px

