.step6-page__wrapper
    min-height: 60vh
    max-width: 560px
    margin: auto
    display: flex
    justify-content: center
    align-items: center

    .step-page__container
        width: 100%
        text-align:  center

        .congratulation
            color: #556ce7
            font-size: 32px
            font-weight: 900
            padding-bottom: 12px

        .suggest
            text-align:  center
            padding-bottom: 30px
                






