@import "../../../../../sass/mixins"
.package-steps

  @include mobile
    padding: 0 !important

  .package-steps__page

    @include mobile
      width: 100vw

  .package-steps__widget

    @include mobile
      border: 0
      box-shadow: unset
      margin-top: 0


  .package-steps__title
    text-align: center
