.pickup__address
  padding: 0 !important
  .gs-widget__content.body
    padding: 1em 0

/** RWD Setting */

// For mobile portrait
@media only screen and (max-width: 480px) and (orientation: portrait)
  .pickup__address
    .gs-widget__header
      padding: 1em
    .gs-widget__content
      .setting__payment_method
        .info-container__box__content
          padding-left: 0
          &.col-md-12
            padding-left: 0
            padding-right: 0

      &:last-child
        padding-left: 1.1em

// For mobile landscape
@media only screen and (max-width: 480px) and (orientation: landscape)
  .pickup__address
    .gs-widget__header
      padding: 1em
    .gs-widget__content
      .setting__payment_method
        .info-container__box__content
          padding-left: 0
          &.col-md-12
            padding-left: 0
            padding-right: 0

      &:last-child
       padding-left: 1.1em

// For ipad portrait
@media only screen and (max-width: 768px) and (orientation: portrait)
  .pickup__address
    .gs-widget__header
      padding: 1em
    .gs-widget__content
      .setting__payment_method
        .info-container__box__content
          padding-left: 0
          &.col-md-12
            padding-left: 0
            padding-right: 0

      &:last-child
        padding-left: 1.1em

// For ipad landscape
@media only screen and (max-width: 768px) and (orientation: landscape)
  .pickup__address
    .gs-widget__header
      padding: 1em
    .gs-widget__content
      .setting__payment_method
        .info-container__box__content
          padding-left: 0
          &.col-md-12
            padding-left: 0
            padding-right: 0

      &:last-child
        padding-left: 1.1em