@import "../../../../sass/mixins"
.branch-management

  .gs-widget__content
    padding: 0
    .branch-list-desktop
      max-width: 1000px
      overflow: auto
      &::-webkit-scrollbar
        width: 3px
        height: 3px
        margin-left: -30px
      &::-webkit-scrollbar-thumb
        background: #C4C4C4
      .uik-widget-table__wrapper
        width: 800px
    .branch-list-mobile
      flex-direction: column
      padding: 0.5em
      .setting__account
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        padding: 20px 5px
        flex-wrap: wrap
      .account__block
        display: flex
        flex-direction: column
        flex-basis: calc(100% - 50%)
        word-break: break-word

  .btn-enable-branch
    label
      margin-bottom: 0

.add-branch-modal

  .modal-content
    min-width: 600px !important
    
    @include mobile
      max-width: calc(100vw - 1rem)
      min-width: 300px !important
    .custom-content
      max-height: 80vh
      overflow: auto
  .custom-col
    padding-right: 0px !important

  .branch-modal__header
    padding: 0.8rem 2rem
    font-weight: 500 !important
    font-size: 1.1rem
    box-shadow: 0 1px 0 0 #F9F9F9
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #EAEDF3
    background-color: #F9F9F9

  .branch-modal__footer
    padding: 0.5rem 2rem
    border-top: 1px solid #EAEDF3
    display: flex
    justify-content: flex-end
    align-items: center


  .modal-body
    text-align: left !important
    padding-top: 1rem
    background-color: #ffffff
    max-height: 80vh
    
  .contact__container
    background-color: #ffffff

    .contact__header
      .contact__title
        font-weight: 500
        font-size: .9rem

      .contact__description
        color: #939393
        font-size: .9rem

    .label-required
      &:after
        content: '*'
        font-size: 1rem
        padding: 0px 5px
        color: #d6010a

.bg-expired-branch
  background-color: #5c5f616e !important

@media (max-width: 768px)
  .add-branch-modal
    .custom-col
      padding-right: 15px !important
