.order-in-store-purchase-printer

  table
    thead
      th
        background-color: unset !important
        border-style: solid none solid
        border-width: 1.5px

    tbody
      td
        border-style: none none dashed
        border-width: 1px
        width: 100%
      tr
        &:last-child
          border-style: none none none
          padding-bottom: 0

.order-print-page-size_

  color: #000000 !important
  font-family: Roboto, serif !important

  &K80
    width:  74mm

    h1
      font-size: 1.2rem !important

    html, body
      width:  74mm
      margin: 0
      padding: 0

    table
      width: 74mm
  &K57
    width:  43mm

    h1
      font-size: 1.02rem !important

    html, body
      width:  43mm
      margin: 0
      padding: 0

    table
      width: 43mm

  .point-indicator
    width: 100%
    border-top: 1px dashed #D5D5D5
    margin: 15px 0


  .infomation
    text-align: center
    font-size: 1em
    color: #6B6B6B
    font-weight: normal
    font-style: italic
    width: 80%
    padding-top: 10px
    margin: 0 auto

