@import "../../../../sass/mixins"
.customer-editor
  .basic-info-col-left
    width: 37%
  .assign-partner
    display: flex
    justify-content: space-between
    align-items: center
    .title
      color: #9EA0A5
    #dropdownPartnerButton
      width: 150px
  .partner-dropdown-wrapper
    .uik-select__wrapper
      margin-left: 0
  .partner-dropdown
    padding: 1em
    min-width: 12rem
    hr
      margin-left: -1em
      margin-right: -1em

    .partner-item-list
      max-height: 200px
      overflow-y: auto
      margin: -14px

      .found-result
        text-align: center
        color: gray


      .partner-item-row
        padding: .5rem
        border-bottom: 1px solid #EAEDF3 !important
        max-width: 10rem
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        cursor: pointer
        font-size: 14px
        display: flex
        justify-content: space-between
        align-items: center
        &:last-child
          border-bottom: unset
          box-shadow: unset

        .select__check
          width: 5px
          height: 5px
          background-color: #38B249
          border-radius: 50%

      .loading-row
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        width: 100%
        top: 0
        position: absolute
        background-color: rgba(0, 0, 0, 0.02)

    .gs-widget-empty-content
      margin-top: -14px
      //padding: 1em
      .gs-widget-empty-content__icon
        display: none

  .birthday-date
    margin-bottom: 20px
    display: flex
    flex-direction: column
    width: 47%
    p
      color: #939393
      text-transform: uppercase
      font-weight: bold
      font-size: 0.8rem
      margin-bottom: 0.6rem
    .react-datepicker__input-container
      input
        display: block
        width: 100%
        height: calc(1.5em + 0.75rem + 2px)
        padding: 0.375rem 0.75rem
        font-size: 1rem
        font-weight: 400
        line-height: 1.5
        color: #495057
        background-color: #fff
        background-clip: padding-box
        border: 1px solid #ced4da
        border-radius: 0.25rem
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
        &:focus
          color: #495057
          background-color: #fff
          border-color: #80bdff !important
          outline: 0
  .uik-widget-content__wrapper
    @include mobile
      padding: 0

  .customer-editor__activities-left-col
    .form-group
      margin-bottom: 0

  .customer-tags
    background-color: hsl(0,0%,90%)
    padding: .2rem .3rem
    margin-left: .2rem
    border-radius: .2rem
    margin-top: .2rem

  .customer-segments
    background-color: hsl(0,0%,90%)
    padding: .2rem .3rem
    margin-right: .4rem
    border-radius: .2rem
    margin-top: .2rem

  .customer-editor__bar-code-wrapper
    border: 1px solid rgba(211, 211, 211, 0.34)
    padding: 0 .5rem
    margin: 1rem 0

  .customer-editor__full-right-col
    flex-basis: 50%

  .customer-editor__tab-header

    .customer-editor__tab-item
      padding: .5rem 1rem
      background-color: white
      border-radius: .25rem .25rem 0 0
      border: 1px solid rgb(222, 222, 222)
      border-bottom: unset
      min-width: 8rem
      margin-left: .5rem
      transition: background-color .3s ease-in-out

      img
        width: 1rem
        margin-right: .5rem


      &:first-child
        margin-left: 0

      &--active
        background-color: #4156AE
        color: white
        pointer-events: none
        img
          filter: invert(100%)

      &--disable
        opacity: 0.5
        pointer-events: none

      &:hover:not(.customer-editor__tab-item--active)
        opacity: .8
        cursor: pointer


  .customer-location
    justify-content: space-between
    .form-group
      width: 30%
  .gender-birthday
    justify-content: space-between
    .form-group
      width: 47%

  .country
    width: 47% !important

  .outside-address
    justify-content: space-between
    .form-group
      width: 47%

  .outside-location
    justify-content: space-between
    .form-group
      width: 30%

.phone-list-view
  display: flex
  flex-wrap: wrap
  flex-direction: column
  .phone-item>*
    flex: 1 1 auto
  .phone-item
    font-size: 2em
    margin: 0.2em
    flex-wrap: wrap
    display: flex
    align-items: left
    align-content: left
    .phone-item-text
      background: #E2EEFE
      padding: 0.3rem 1rem 0.3rem 0.8rem
      flex: 12 0 0
    .phone-item-icon-call
      color: #216DDA
      background: #BFD7FA
      text-align: right
      padding: 0.3rem 0.8rem 0.3rem 1rem
      flex: 1 0 0
