.select-collection-row__discount
  margin-top: .3em
  margin-bottom: unset
  width: 100%

  .product-detail-text-line
    flex: 2
    display: flex
    justify-content: space-between
    align-items: center

    &__right
      min-width: 15em
      display: flex
      justify-content: flex-end
      align-items: center

    .product-variant
      flex-grow: 1

    .product-price
      min-width: 8em
      text-align: right
      margin-right: 1em

  .product-name
    text-align: left
    margin-left: 1em
    word-break: break-word
    max-width: 40em


  .uik-checkbox__label
    display: flex
    justify-content: flex-start
    align-items: center

    &:after
      top: calc(50% - 3px) !important
      left: 4px