.landing-page-element
  .landing-page-element__title
    font-size: 1rem
    padding-bottom: .25rem
    border-bottom: 1px solid #e1e1e1
    h5
      margin-bottom: 0
      font-size: 1rem !important
    svg
      font-size: 1.2rem
      color: gray
      //border: 1px solid gray
      padding-right: .2rem
      margin-right: .5rem
      border-radius: 2px
      border-right: 1px solid #e1e1e1

  .landing-page-element__content-container

    .landing-page-element__content
      margin-top: .5rem

      &--color-picker
        display: flex
        justify-content: space-between
        align-items: center

        input
          border-color: #e1e1e1

      &--image
        img
          border: 1px dashed #e1e1e1
          background-image: url("/assets/images/img_bg.jpg")

  .ldp-ele-code
    font-family: monospace
    font-size: 14px
