.shopee-product

  .total-item
    color: #9EA0A5
    margin-left: 10px
  .product-list
    height: 100%

  .loading
    padding: 20px

  .gs-page-header
    .btn-save
      margin-left: auto
      
  .gs-table
    .gs-table-header
      .gs-table-header-item
        text-align: center
    .gs-table-body
      .gs-table-body-items
        div
          cursor: default
          text-align: center
          .thumbnail
            width: 4em
            height: 4em
          &.gs-table-body-item
            max-width: 20em
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden

  thead
    tr
      th
        width: 15%
        text-align: center
        &:nth-of-type(3)
          width: 25%


  tbody
    tr
      cursor: default
      td
        text-align: center

  .gs-status-tag--error
    background-color: #ff4848
    color: white

  .gs-status-tag--draft
    background-color: #1665D8
    color: white

  .gs-status-tag--sync
    background-color: #38B249
    color: white
