.custom-container

  .custom-container__title
    margin-bottom: 1rem
  //align-items: center

  .custom-container__box

    .row
      margin-right: 0px !important
      margin-left: 0px !important
    //border-radius: 4px
    //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04)
    //border: 1px solid #eaedf3
    //background-color: #ffffff
    //padding: 30px 32px

    .custom-container__design
      .custom-container__design--left
        label
          font-size: 16px
          color: black
          font-weight: bold

      .custom-container__design--right
        border: solid 1px #b9bdcf
        padding: 15px 15px 15px 30px

        img
          width: 60%

        button
          position: absolute
          right: 25px
          top: 15px

    .custom-container__info
      margin-top: 30px

      .custom-container__info--left
        label
          font-size: 16px
          color: black
          font-weight: bold

      .custom-container__info--right
        border: solid 1px #b9bdcf
        padding: 25px 15px 35px 30px

        .custom-container__info__address
          margin-top: 25px
          .address-list
            white-space: pre-line

        .custom-container__info--top
          margin-top: 5px !important

        .custom-container__info--mid
          max-width: 80%

        .btn-edit-info
          position: absolute
          right: 25px
          top: 25px

        img
          position: absolute
          right: 13px
          width: 110px
          bottom: 30px

.mgl10
  margin-left: 10px
